@media screen and (max-width:470px) {
  /*----style.scss.html start----*/
  body {
    top: 70px;
    width: 98%;
  }
  /*----style.scss.html end----*/
  /*----userProfile.html start----*/
  .userInfoLeft {
    .userAvatar {
      width: 30%;
      margin: -70px 35% 0 35%;
    }
    .buddyBtn {
      width: 30%;
      margin: 10px 35% 0 35%;
      line-height: 30px;
    }
  }
  .userInfoMiddle {
    margin-top: 20px;
  }
  .achievements {
    .progressWrap {
      margin-top: 0;
    }
  }
  .userFavorites {
    ul {
      li {
        a {
          padding-top: 55%;
        }
      }
    }
  }
  /*----userProfile.html end----*/
  /*----home.html start----*/
  .pageHeader {
    display: none;
  }
  .pageMobileHeader {
    display: inherit;
  }
  #indexSummary {
    .howItWorks {
      .concentratesIcon,
      .ediblesIcon,
      .strainsIcon {
        width: 30%;
      }
      h3 {
        padding-top: 1%;
      }
      p {
        font-size: 9px;
        line-height: 12px;
        width: 50%;
      }
    }
  }
  /*----home.html end----*/
  /*----footer.html start----*/
  #footer {
    input[type='email'] {
      width: 60%;
      margin-left: 5%;
    }
    .btnfooter {
      width: 30%;
      margin-right: 5%;
    }
    .btnfooterlrg {
      margin-right: 0;
    }
  }
  /*----footer.html end----*/
  /*----ratings.html start----*/
  .dispensaryCard,
  .dealCard,
  .strainCard {
    .rating {
      margin-top: 2%;
    }
  }  
  /*----ratings.html end----*/
  /*----cards.html start----*/
  .cardWrapper {
    .distanceAway,
    .strainType {
      margin: 30% auto 0 auto;
    }
  }
  /*.dvCardList {
    li {
      width: 68%;
    }
  }*/
  .featured-concentrate-true,
  .featured-edible-true,
  .featured-strain-true {
    left: -6.5%;
  }
  /*----cards.html end----*/
  /*----signin.html end----*/
  .close-modal {
    top: 5px;
    right: 10px;
  }
  /*----signin.html end----*/
  /*----footer start----*/
  #footer {
    h4 {
      font-size: 14px;
    }
  }
  /*----footer end----*/
  /*----modal start----*/
  .modal-content {
    .modal-header {
      .modalTitle {
        font-size: 50px;
      }
      .modalSubtitle {
        font-size: 20px;
      }
    }
    .modal-footer {
      p {
        font-size: 12px;
        span {
          color: white;
        }
      }
    }
  }
  /*----modal end----*/
}