@media screen and (max-width:767px) {
  /*----style.scss.html start----*/
  body {
    top: 70px;
    width: 99%;
  }
  /*----style.scss.html end----*/
  /*----userProfile.html start----*/
  .userInfoLeft {
    margin: 0 auto;
    position: relative;
    width: 100%;
    .userAvatar {
      width: 20%;
      margin: -70px 40% 0 40%;
    }
    .buddyBtn {
      width: 20%;
      margin: 10px 40% 0 40%;
      line-height: 30px;
    }
  }
  .userInfoMiddle {
    .username {
      color: rgb(44,48,52);
    }
  }
  .achievements {
    .progressWrap {
      margin-top: 10%;
    }
  }
  .userFavorites {
    ul {
      li {
        a {
          padding-top: 68%;
        }
      }
    }
  }
  /*----userProfile.html end----*/
  /*----home.html start----*/
  #indexSummary {
    .howItWorks {
      padding: 20px 5%;
      height: 100%;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border-bottom: 1px solid rgba(44,48,52,.05);
      }
      .dispensariesIcon,
      .concentratesIcon,
      .ediblesIcon,
      .strainsIcon {
        width: 22%;
        float: left;
        margin-right: 20px;
      }
      h3 {
        font-size: 18px;
        margin: 0;
        padding: 3% 0 0 0;
        text-align: left;
      }
      p {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 10px;
        line-height: 14px;
        width: 62%;
      }
      .arrowRight {
        display: inline;
        margin-left: 20px;
      }
    }
  }
  .featuredBanner {
    margin-left: 25%;
  }
  /*----home.html end----*/
  /*----footer.html start----*/
  #footer {
    margin: 30px auto 0 auto;
    text-align: center;
    h4 {
      text-align: center;
    }
    a {
      font-size: 10px;
      margin: 0 auto;
      text-align: center;
    }
    p {
      font-size: 10px;
    }
    input[type='email'] {
      width: 45%;
      margin-left: 15%;
    }
    .btnfooter {
      width: 25%;
      margin-top: 0;
      margin-right: 15%;
    }
    .btnfooterlrg {
      margin-right: 0;
    }
    address {
      padding-top: 6%;
      float: right;
      text-align: center;
    }
  }
  /*----footer.html end----*/
  /*----cards.html start----*/
  .cardWrapper {
    margin: 0 25% !important;
  }
  .featured-dispensary-true,
  .featured-edible-true,
  .featured-concentrate-true,
  .featured-strain-true {
    left: -4%;
  }
  /*----cards.html end----*/
  /*----ratings.html start----*/
  .dispensaryCard,
  .edibleCard,
  .concentrateCard,
  .strainCard {
    .rating {
      margin-top: -4%;
    }
  }  
  /*----ratings.html end----*/

  /*----cards.html start----*/
  .dvCardList {
    li {
      width: 29%;
    }
  }
  /*----cards.html end----*/
  /*----items.html start----*/
  #strainGallery,
  #edibleGallery,
  #concentrateGallery,
  .dispensaryGallery {
    display: none;
  }
  .strainGalleryMobile,
  .dispensaryGalleryMobile,
  .edibleGalleryMobile,
  .concentrateGalleryMobile {
    display: inline;
    margin-bottom: 20px;
  }
  /*----items.html end----*/
}
@media screen and (max-width:550px) {
  /*----cards.html start----*/
  .featured-dispensary-true,
  .featured-concentrate-true,
  .featured-edible-true,
  .featured-strain-true {
    left: -5.5%;
  }
  /*----cards.html end----*/
}



