@media screen and (max-width:767px) {
  /*----style.scss.html start----*/
  body {
    top: 70px;
    width: 100%;
  }
  h3 {
    background: rgb(44,48,52);
    color: white;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    border: none;
    width: 100%;
    float: left;
  }
  .noGutter {
    padding-left: 0;
    padding-right: 0;
  }
  .noGutterRight {
    padding-right: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  /*----style.scss.html end----*/
  /*----userProfile.html start----*/
  .userInfoLeft {
    margin: -15px auto 0 auto;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    .userAvatar {
      width: 20%;
      margin: 0px 40% 0 40%;
    }
    .userBio {
      padding: 30px 30px 10px 30px;
      margin-bottom: 0;
      background: white;
      font-weight: 500;
      color: rgb(44,48,52);
    }
    .buddyBtn {
      width: 20%;
      position: absolute;
      right: 0;
      top: 130px;
    }
    .rhastaBarsBottom {
      display: none;
    }
    .rhastaBarsTop {
      display: inherit;
    }
  }
  .userOverview {
    padding-right: 0;
    ul {
      margin: 0 15px;
      li {
        font-size: 10px;
        padding: 5px 5px;
        span {
          font-size: 11px;
        }
      }
    }
  }
  #userStash {
    padding-right: 0;
  }
  /*----userProfile.html end----*/
  /*----userBuddies.html start----*/  
  .userBuddyList { 
    margin: 0 50px;
  }
  /*----userBuddies.html end----*/
  /*----users.html start----*/  
  .allUsersList { 
    margin: 0 50px;
  }
  /*----users.html end----*/
  /*----home.html start----*/
  #indexSummary {
    .howItWorks {
      margin-left: 15px;
      padding: 20px 5%;
      height: 100%;
      &:nth-child(1),
      &:nth-child(2) {
        border-bottom: 1px solid rgba(44,48,52,.05);
      }
      .concentratesIcon,
      .ediblesIcon,
      .strainsIcon {
        width: 22%;
        float: left;
        margin-right: 20px;
      }
      h3 {
        font-size: 18px;
        margin: 0;
        padding: 3% 0 0 0;
        text-align: left;
        width: 50%;
      }
      p {
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: 10px;
        line-height: 14px;
        width: 62%;
      }
      .arrowRight {
        display: inline;
        margin-left: 20px;
      }
    }
  }
  .featuredBanner {
    margin-left: 25%;
  }
  /*----home.html end----*/
  /*----footer.html start----*/
  #footer {
    margin: 30px auto 0 auto;
    text-align: center;
    h4 {
      text-align: center;
    }
    a {
      font-size: 10px;
      margin: 0 auto;
      text-align: center;
    }
    p {
      font-size: 10px;
    }
    input[type='email'] {
      width: 45%;
      margin-left: 15%;
    }
    .btnfooter {
      width: 25%;
      margin-top: 0;
      margin-right: 15%;
    }
    .btnfooterlrg {
      margin-right: 0;
    }
    address {
      padding-top: 6%;
      float: right;
      text-align: center;
    }
  }
  /*----footer.html end----*/
  /*----cards.html start----*/
/*  .cardWrapper {
    margin: 0 25% !important;
  }*/
  .featured-edible-true,
  .featured-concentrate-true,
  .featured-strain-true {
    left: -4%;
  }
  .dvCardList {
    margin-left: 5%;
    margin-right: 5%;
  }
  /*----cards.html end----*/
  /*----ratings.html start----*/
  .edibleCard,
  .concentrateCard,
  .strainCard {
    .rating {
      margin-top: -4%;
    }
  }  
  /*----ratings.html end----*/

  /*----cards.html start----*/
/*  .dvCardList {
    li {
      width: 29%;
    }
  }*/
  /*----cards.html end----*/
  /*----items.html start----*/
  #strainGallery,
  #edibleGallery,
  #concentrateGallery {
    display: none;
  }
  .strainGalleryMobile,
  .edibleGalleryMobile,
  .concentrateGalleryMobile {
    display: inline;
    margin-bottom: 20px;
  }
  /*----items.html end----*/
  /*---- businessCMS.html start ----*/
  .products {
    .nav-tabs {
      li {
        a {
          font-size: 10px;
        }
      }
    }
  }
  /*---- businessCMS.html end ----*/
  /*---- businessProfile.html start ----*/
  .businessInfo {
    .businessLogoWrap {
      text-align: center;
    }
    .businessLogo {
      float: none;
    }
    .businessName,
    .businessLocation,
    .businessBio {
      float: none;
      text-align: center;
    }
  }
  /*---- businessProfile.html end ----*/
  /*---- search start ----*/
  .searchWrapper {
    input {
      margin: 10px 30px 20px 30px;
      width: 90%;
    }
    .searchResults {
      ul {
        padding: 0 30px;
        width: inherit;
        li {
          img {
            width: 15%;
          }
          h6 {
            font-size: 16px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  /*---- search end ----*/
  /*---- page.html start ----*/
  .authenticateButtons { 
    display: none;
  }
  /*---- page.html start ----*/
}
@media screen and (max-width:550px) {
  /*----cards.html start----*/
  .featured-concentrate-true,
  .featured-edible-true,
  .featured-strain-true {
    left: -5.5%;
  }
  /*----cards.html end----*/
}



