@media screen and (max-width: 767px) {
  /*----style.scss.html start----*/
  body {
    top: 70px;
    width: 100%; }

  h3 {
    background: #2c3034;
    color: white;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    border: none;
    width: 100%;
    float: left; }

  .noGutter {
    padding-left: 0;
    padding-right: 0; }

  .noGutterRight {
    padding-right: 0; }

  .container-fluid {
    padding-left: 0;
    padding-right: 0; }

  /*----style.scss.html end----*/
  /*----userProfile.html start----*/
  .userInfoLeft {
    margin: -15px auto 0 auto;
    padding-bottom: 0px;
    position: relative;
    width: 100%;
    height: 100%; }
    .userInfoLeft .userAvatar {
      width: 20%;
      margin: 0px 40% 0 40%; }
    .userInfoLeft .userBio {
      padding: 30px 30px 10px 30px;
      margin-bottom: 0;
      background: white;
      font-weight: 500;
      color: #2c3034; }
    .userInfoLeft .buddyBtn {
      width: 20%;
      position: absolute;
      right: 0;
      top: 130px; }

  .userOverview {
    padding-right: 0; }
    .userOverview ul {
      margin: 0 15px; }
      .userOverview ul li {
        font-size: 10px;
        padding: 5px 5px; }
        .userOverview ul li span {
          font-size: 11px; }

  #userStash {
    padding-right: 0; }

  /*----userProfile.html end----*/
  /*----home.html start----*/
  #indexSummary .howItWorks {
    margin-left: 15px;
    padding: 20px 5%;
    height: 100%; }
    #indexSummary .howItWorks:nth-child(1), #indexSummary .howItWorks:nth-child(2) {
      border-bottom: 1px solid rgba(44, 48, 52, 0.05); }
    #indexSummary .howItWorks .concentratesIcon,
    #indexSummary .howItWorks .ediblesIcon,
    #indexSummary .howItWorks .strainsIcon {
      width: 22%;
      float: left;
      margin-right: 20px; }
    #indexSummary .howItWorks h3 {
      font-size: 18px;
      margin: 0;
      padding: 3% 0 0 0;
      text-align: left;
      width: 50%; }
    #indexSummary .howItWorks p {
      padding: 0;
      margin: 0;
      text-align: left;
      font-size: 10px;
      line-height: 14px;
      width: 62%; }
    #indexSummary .howItWorks .arrowRight {
      display: inline;
      margin-left: 20px; }

  .featuredBanner {
    margin-left: 25%; }

  /*----home.html end----*/
  /*----footer.html start----*/
  #footer {
    margin: 30px auto 0 auto;
    text-align: center; }
    #footer h4 {
      text-align: center; }
    #footer a {
      font-size: 10px;
      margin: 0 auto;
      text-align: center; }
    #footer p {
      font-size: 10px; }
    #footer input[type='email'] {
      width: 45%;
      margin-left: 15%; }
    #footer .btnfooter {
      width: 25%;
      margin-top: 0;
      margin-right: 15%; }
    #footer .btnfooterlrg {
      margin-right: 0; }
    #footer address {
      padding-top: 6%;
      float: right;
      text-align: center; }

  /*----footer.html end----*/
  /*----cards.html start----*/
  /*  .cardWrapper {
      margin: 0 25% !important;
    }*/
  .featured-edible-true,
  .featured-concentrate-true,
  .featured-strain-true {
    left: -4%; }

  .dvCardList {
    margin-left: 5%;
    margin-right: 5%; }

  /*----cards.html end----*/
  /*----ratings.html start----*/
  .edibleCard .rating,
  .concentrateCard .rating,
  .strainCard .rating {
    margin-top: -4%; }

  /*----ratings.html end----*/
  /*----cards.html start----*/
  /*  .dvCardList {
      li {
        width: 29%;
      }
    }*/
  /*----cards.html end----*/
  /*----items.html start----*/
  #strainGallery,
  #edibleGallery,
  #concentrateGallery {
    display: none; }

  .strainGalleryMobile,
  .edibleGalleryMobile,
  .concentrateGalleryMobile {
    display: inline;
    margin-bottom: 20px; }

  /*----items.html end----*/
  /*---- businessCMS.html start ----*/
  .products .nav-tabs li a {
    font-size: 10px; }

  /*---- businessCMS.html end ----*/
  /*---- businessProfile.html start ----*/
  .businessInfo .businessLogoWrap {
    text-align: center; }
  .businessInfo .businessLogo {
    float: none; }
  .businessInfo .businessName,
  .businessInfo .businessLocation,
  .businessInfo .businessBio {
    float: none;
    text-align: center; }

  /*---- businessProfile.html end ----*/
  /*---- search start ----*/
  .searchWrapper input {
    margin: 10px 30px 20px 30px;
    width: 90%; }
  .searchWrapper .searchResults ul {
    padding: 0 30px;
    width: inherit; }
    .searchWrapper .searchResults ul li img {
      width: 15%; }
    .searchWrapper .searchResults ul li h6 {
      font-size: 16px; }
    .searchWrapper .searchResults ul li p {
      font-size: 16px; }

  /*---- search end ----*/
  /*---- page.html start ----*/
  .authenticateButtons {
    display: none; }

  /*---- page.html start ----*/ }
@media screen and (max-width: 550px) {
  /*----cards.html start----*/
  .featured-concentrate-true,
  .featured-edible-true,
  .featured-strain-true {
    left: -5.5%; }

  /*----cards.html end----*/ }
