@media screen and (max-width:980px) {
  body {
    top: 70px;
    width: 99%;
  }
  /*----page.html start----*/
  .navbar {
    padding: 0 4%;
    height: 60px;
    .navbar-header {
      .menuMobile-toggler {
        img {
          width: 30px;
        }
      }
      .logo .deviineLogo {
        float: left;
        left: 50px;
        width: 70px;
        padding: 13px 0;
      }
      .menuMobile-toggler {
        display: inline;
        img {
          width: 50px;
          opacity: .2;
          &:hover {
            opacity: 1;
          }
        }
      }
      .navbar-right {
        .accountInfo {
          margin: -4px 0 0 0;
          .username {
            font-size: 13px;
            padding: 5px 0 0 0;
          }
          .location {
            font-size: 9px;
          }
        }
        .navbar-text {
          margin: 10px 0;
          .avatar {
            width: 40px;
            height: 40px;
            border-color: #fcd31c;
            margin-left: 5px;
          }
        }
      }
    }
  }
  #mainMenu { 
    display: none;
    top: inherit;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 50;
    background: rgb(44,48,52);
    padding: 5px 0;
    > li {
      display: inline;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      width: 33%;
      float: left;
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        border: none;
      }
      a {
        color: white;
        font-size: 20px;
      }
      .typeform-share {
        display: none;
      }
      .disabledNav {
        color: rgba(255,255,255,.2);
      }
      .adminnav {
        display: none;
      }
    }
  }
  .upToTop {
    display: none;
  }
  /*----page.html end----*/
  #indexSummary > .howItWorks { 
    p {
      strong {
        display: inline;
      }
    }
    &:hover {
      .comingSoon {
        opacity: 0;
      }
    }
  }
  /*----home start----*/
  #indexSummary > .howItWorks {
    .strainsIcon {
      background-color: #3dd861;
    }
    .concentratesIcon {
      background-color: #FCD31C;
    }
    .ediblesIcon {
      background-color: #F7253E;
    }
    .dispensariesIcon {
      background-color: rgb(44,48,52);
    }
  }
  .sponsors {
    div {
      ul {
        opacity: 1;
      }
    }
  }
  /*----home end----*/
  /*----footer start----*/
  #footer {
    margin: 0;
  }
  /*----footer end----*/
  /*----cards.html start----*/
  .cardWrapper {
    .dispensaryLogo,
    .dealImage,
    .strainImage {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      filter: none;
    }
  }
  /*----cards.html end----*/
  /*----cards.html start----*/
  .barChart {
    li {
      div {
        font-size: 16px;
      }
    }
  }
  /*----cards.html end----*/
  /*----rating.html start----*/
  .rating {
    .ratingBarWrap {
      .ratings {
        display: none;
      }
      .mobileRatings {
        display: inherit;
      }
    }
    .ratingDisplay {
      top: -60px;
    }
  }
  /*----rating.html start----*/
}