#indexSummary > .howItWorks {
  text-align: center;
  font-family: $dvTextFont;
  color: $dvGray;
  font-size: 11px;
  line-height: 15px;
  padding-top: 15px;
  border-color: $dvGray5;
  &:hover {
    .strainsIcon {
      background-color: $dvGreen;
    }
    .concentratesIcon {
      background-color: $dvYellow;
    }
    .ediblesIcon {
      background-color: $dvRed;
    }
    .dispensariesIcon {
      background-color: $dvGray;
    }
  }
  .dispensariesIcon,
  .ediblesIcon,
  .concentratesIcon,
  .strainsIcon {
    width: 75%;
    margin: auto auto;
    border-radius: 50%;
    background: $dvGray20;
  }
  .dispensariesIcon {
    border: 2px solid $dvGray50;
  }
  .concentratesIcon {
    border: 2px solid $dvYellow;
  }
  .ediblesIcon {
    border: 2px solid $dvRed;
  }
  .strainsIcon {
    border: 2px solid $dvGreen;
  }
  h3 {
    border: none;
    font-family: $dvTextFont;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-family: $dvTextFont;
    font-size: 11px;
    float: left;
    strong {
      display: none;
    }
  }
  .arrowRight {
    display: none;
    float: left;
    border-top:20px solid transparent;
    border-right:0px solid transparent;
    border-bottom:20px solid transparent;
    border-left:20px solid transparent;
    &.red {
      border-left-color: $dvRed;
    }
    &.yellow {
      border-left-color: $dvYellow;
    }
    &.green {
      border-left-color: $dvGreen;
    }
    &.gray {
      border-left-color: $dvGray;
    }
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    border-right: 1px solid $dvGray5;
  }

  &:nth-child(1) > h3 {
    color: $dvGreen;
  }

  &:nth-child(2) > h3 {
    color: $dvYellow;
  }

  &:nth-child(3) > h3 {
    color: $dvRed;
  }

  &:nth-child(4) > h3 {
    color: $dvGray;
  }
}

.sponsors {
  margin: 0;
  padding: 0;
  div {
    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      list-style: none;
      opacity: .4;
      &:hover {
        opacity: 1;
      }
      li {
        display: inline;
        overflow: hidden;
        &:last-child {
          border: none;
        }
        img {
          max-width: 100%;
        }
      }
    }
  }
}

