.dvCardList {
  h4 {
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
  }
  h6 {
    font-family: $dvTextFont;
    font-family: 14px;
    text-align: center;
    text-transform: none;
    line-height: 16px;
    a {
      color: $dvGreen;
      font-weight: bold;
    }
  }
}

.dispensaryLogoWrap,
.producerLogoWrap,
.processorLogoWrap {
  float: left;
  clear: left;
} 
.dispensaryLogo,
.businessLogo,
.producerLogo,
.processorLogo {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
}

.dispensaryName,
.dealTitle,
.strainName,
.concentrateName,
.edibleName {
  font-family: $dvHeaderFont;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
  color: $dvGray;
  margin: 5px 0 0 0;
  padding: 0;
}

.favorite {
  width: 40px;
  position: absolute;
  right: -20px;
  top: 0;
  cursor: pointer;
  z-index: 2;
  &:hover {
    .favoriteIcon {
      background: $dvRed;
    }
  }
  .favoriteIcon {
    width: 100%;
    border-radius: 50%;
    border: 2px solid $dvRed;
    background: $dvGray20;
    &:hover {
      background: $dvRed;
    }
  }
}

.strainChemistry,
.concentrateType,
.edibleType {
  font-size: 22px;
  padding: 0;
  margin: -8px 0 0 0;
}
.strainChemistry {
  color: $dvGreen;
}
.concentrateType {
  color: $dvYellow;
}
.edibleType {
  color: $dvRed;
}

.strainProducer,
.edibleProcessor,
.concentrateProcessor {
  font-family: $dvTextFont;
  font-size: 16px;
  font-weight: normal;
  color: $dvGray;
  margin: 0px 0 10px 0;
  padding: 0;
}

.dispensaryAddress,
.businessAddress,
.producedBy {
  font-family: $dvTextFont;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $dvGray20;
  padding: 0;
  margin: 0;
}

.viewOnMap {
  font-family: $dvTextFont;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  color: $dvGray;
  cursor: pointer;
  &:hover {
    color: $dvRed;
  }
}

.contactInfo {
  position: relative;
  top: -20px;
  float: none;
  clear: left;
  .dispensaryWebsite a,
  .dispensaryEmail a,
  .dispensaryPhone a,
  .businessWebsite a,
  .businessEmail a,
  .businessPhone a {
    font-family: $dvTextFont;
    font-size: 14px;
    font-weight: bold;
    color: $dvGray20;
    &:hover {
      color: $dvGray;
    }
  }
}

.userRatingDisplay {
  font-family: $dvTextFont;
  font-size: 14px;
  font-weight: normal;
  color: $dvGray;
  height: 0;
  position: relative;
  z-index: 3;
  top: -45px;
}


.strainDescriptionSubHeader {
  margin: -6px 0 0 0;
}
.strainDescription,
.edibleDescription {
  font-family: $dvTextFont;
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0 0 0;
  padding: 0;
}

.dispensaryGallery,
.dealGallery,
.strainGallery,
.concentrateGallery,
.edibleGallery {
  width: 100%;
  position: relative;
  z-index: -10;
}

/* Strain Zoom Start */ 
/*Some CSS*/

#strainGalleryWrap { 
  margin: auto; 
  position: relative;
  overflow: hidden;
}
#strainGalleryWrap:hover {
  #strainGallery { 
    -webkit-filter: grayscale(1); 
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
  }
}

/*Lets create the magnifying glass*/
#zoom {
  width: 275px; 
  height: 275px;
  position: absolute;
  border-radius: 100%;
  
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /*hide the glass by default*/
  display: none;
  cursor: none;
}

/*To solve overlap bug at the edges during magnification*/
#strainGallery { display: block; }
#strainGallery:hover {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
/* Strain Zoom End */


.strainGalleryMobile,
.dispensaryGalleryMobile,
.concentrateGalleryMobile,
.edibleGalleryMobile {
  display: none;
}
.currentDeals {
  display: none;
}


.dispensaryHours {
  background: $dvGray;
  width: 100%;
  tr {
    color: white;
  }
  tr.dvGreen {
    color: $dvGreen;
  }
  td {
    font-family: $dvHeaderFont;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px 4px 20px;
    border-bottom: thin solid rgba(255, 255, 255, .1);
  }
  td:nth-child(2) {
    text-align: right;
  }
}

.dealDetails {
  h4 {
    font-family: $dvHeaderFont;
    text-transform: uppercase;
    font-size: 22px;
    color: $dvGray;
    margin: 20px 0 0 0;
  }
  p {
    font-family: $dvTextFont;
    font-size: 12px;
    line-height: 18px;
    color: $dvGray;
  }
  .redemptionDetails {
    border-bottom: 1px solid $dvGray20;
    padding-bottom: 15px;
    margin: 10px 0 20px 0;
    div .redeemDeal {
      background: $dvRed;
      font-family: $dvHeaderFont;
      text-transform: uppercase;
      font-size: 30px;
      color: white;
      width: 100%;
      padding: 10px 20px 5px 20px;
      &:hover {
        background: $dvGray;
      }
    }
    div label {
      font-family: $dvTextFont;
      font-size: 16px;
      line-height: 16px;
      color: $dvGray;
      float: left;
    }
    div .distanceAway,
    div .daysLeft {
      color: $dvRed;
      font-family: $dvTextFont;
      font-size: 38px;
      line-height: 10px;
      text-align: right;
      padding-right: 2%;
      float: left;
      width: 25%;
    }
  }
}

.flavorProfile,
.positiveEffects,
.negativeEffects {
  font-family: $dvHeaderFont;
  text-transform: uppercase;
  font-size: 20px;
  color: $dvGray;
  text-align: left;
  li {
    line-height: 18px;
    margin-bottom: 10px;
    &:nth-child(1) {
      border-bottom: 3px solid $dvGreen;
    }
    &:nth-child(2) {
      border-bottom: 3px solid $dvYellow;
    }
    &:nth-child(3) {
      border-bottom: 3px solid $dvRed;
    }
  }
}
.strainProfileTitle,
.concentrateProfileTitle,
.edibleProfileTitle {
  font-family: $dvTextFont;
  text-align: center;
  color: $dvGray;
  font-size: 10px;
  margin: 0;
  padding-bottom: 10px;
}

.donut-chart { 
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  float: left;
}

/* Potency */
.thcPotency,
.cbdPotency {
  margin: 0 auto;
  width: 27%;
  text-align: center;
  font-family: $dvHeaderFont;
  text-transform: uppercase;
  font-size: 40px;
  color: $dvGray;
  label {
    position: relative;
    top: -30px;
    font-size: 20px;
    color: $dvGray20;
  }
}
.ediblePotency {
  li:nth-child(1) {
    background: $dvGreen;
  }
  li:nth-child(2) {
    background: $dvYellow;
  }
  li:nth-child(3) {
    background: $dvRed;
  }
  li {
    font-size: 40px;
    font-family: $dvHeaderFont;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 14px;
    padding-top: 15px;
    padding: 20px 0 5px 0;
    span {
      font-size: 24px;
    }
    .total {
      color: $dvGray50;
      font-size: 16px;
    }
  }
}

/* Reviews */
.reviews {
  .leaveReview {
    padding: 0;
    .avatarWrap {
      float: left;
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        z-index: 3;
        cursor: pointer;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
      }
      .reviewBanner {
        float: left;
        position: absolute;
        z-index: 2;
        font-size: 11px;
        font-family: $dvTextFont;
        font-weight: bold;
        color: white;
        padding: 5px 5px 5px 40px;
        background: $dvGray;
        top: 0;
        left: 10px;
        .closeReviewBanner {
          color: white;
          text-decoration: none;
          opacity: .5;
          cursor: pointer;
          margin-left: 5px;
          &:hover {
            opacity: 1;
          }
        }
      }
      .reviewBanner:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: -11px;
        border: 11px solid $dvGray;
        border-right-color: transparent;
        z-index: -1;
      }
    }
    #reviewInput {
      border: 2px solid $dvGray20;
      font-family: $dvTextFont;
      color: $dvGray;
      padding: 40px 10px 10px 10px;
      border-radius: 20px 20px 0 0;
      margin-top: -40px;
      float: right;
      height: 100px;
      width: 100%;
      &:hover,
      &:active,
      &:focus {
        border-color: $dvGray;
      }
    }
    .reviewType {
      float: left;
      width: 100%;
      padding: 10px auto;
      margin-top: 5px;
      font-family: $dvTextFont;
      font-size: 11px;
        #privateReview {
          margin-right: 5px;
        }
        a {
          color: $dvGreen;
          font-size: 9px;
          text-transform: uppercase;
        }
    }
    #submitReview {
      font-family: $dvTextFont;
      font-size: 14px;
      text-align: center;
      color: $dvGray;
      border: 2px solid $dvGray;
      background: none;
      margin-top: 5px;
      margin-left: 50px;
      padding: 10px;
      float: right;
      width: 100%;
      &:hover {
        background: $dvGray;
        color: white;
      }
    }
  }
  .totalReviews {
    font-family: $dvTextFont;
    font-size: 14px;
    text-align: center;
  }
  #reviewsDiv {
    margin-top: 20px;
    padding: 0;
    h4 {
      font-family: $dvTextFont;
      font-size: 15px;
      text-transform: uppercase;
      margin: 0;
      color: $dvGray;
      padding: 10px 0 0 0;
      border-top: 1px solid $dvGray5;
    }
    h6 {
      font-family: $dvTextFont;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: bold;
      color: $dvGreen;
      margin: 0px 0 3px 0;
    }
    p {
      font-family: $dvTextFont;
      font-size: 12px;
      color: $dvGray;
      margin: 0;
      padding: 0 0 8px 60px;
    }
    div {
      border-radius: 50%;
      float: left;
      margin: 10px 20px 10px 0;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .pleaseSignIn {
    padding-top: 20px;
    text-align: center;
    color: $dvGray;
    position: relative;
    z-index: 5;
    a {
      color: $dvGreen;
      cursor: pointer;
    }
  }
}

/* User Profile / Manage User */
.userInfoLeft {
  background: $dvGray;
  padding: 30px 0 0 0;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: white;
  font-family: $dvTextFont;
  .updateUserIcon {
    width: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    &:hover {
      color: $dvYellow;
    }
  }
  .userAvatar {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .username {
    font-weight: 300;
    font-size: 22px;
    text-transform: none;
  }
  .updateUsername {
    margin: 10px 0;
    padding: 5px 0;
    background: none;
    border: none;
    border-bottom: 1px solid $dvWhite20;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    &:hover,
    &:active,
    &:focus {
      border-color: $dvYellow;
    }
  }
  .userBio {
    font-weight: 300;
    font-size: 12;
    line-height: 18px;
    padding: 0 30px;
  }
  .updateUserBio {
    font-weight: 300;
    font-size: 12;
    line-height: 18px;
    padding: 10px 10px 0 10px;
    width: 90%;
    background: none;
    border: none;
    border-bottom: 1px solid $dvWhite20;  
  }
  .buddyBtn {
    color: white;
    text-align: center;
    box-shadow: none;
    img {
      width: 50px;
    }
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }
  .rhastaBarsTop {
    display: none;
    height: 4px;
  }
}
.userOverview {
  ul {
    margin: 30px 0 15px 0;
    li {
      display: inline;
      font-family: $dvTextFont;
      color: $dvGray50;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      padding: 10px 0;
      margin-right: 0;
      border-right: 1px solid $dvGray5;
      &:last-child {
        border-right: none;
      }
      span {
        font-size: 16px;
        color: $dvGray;
      }
      img {
        width: 60%;
        margin: 0 10% 10px 10%;
        background: $dvGray20;
        border-radius: 100px;
        position: relative;
        clear: right;
      }
      .overviewBtn {
        cursor: pointer;
      }
      &:nth-child(1) {
        img {
          background: $dvGray;
        }
      }
      &:nth-child(2) {
        img {
          background: $dvRed;
        }
      }
      &:nth-child(3) {
        img {
          background: $dvYellow;
        }
      }
      &:nth-child(4) {
        img {
          background: $dvGreen;
        }
      }
    }
  }
}

/* User Buddies / All Users */
.userBuddyList,
.allUsersList {
  li {
    padding: 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid $dvGray5;
    &:hover {
      background: $dvGray5;
    }
    img {
      max-width: 100px;
      width: 20%;
      float: left;
      margin-right: 5%;
      border-radius: 50%;
    }
    h4 {
      width: 75%;
      text-transform: none;
      margin: 5px 0;
      padding: 0;
      padding-top: 2%;
      float: left;
    }
    ul {
      width: 75%;
      margin: 0;
      padding: 0;
      float: left;
      li {
        border: none;
        width: 25%;
        margin: 0;
        padding: 0;
        float: left;
        &:hover {
          background: none;
        }
        span {
          color: $dvGray30;
          text-align: center;   
          font-size: 11px;  
          margin: 0 0 0 5px; 
          padding-top: 5px;
          float: left;
        }
        img {
          min-width: 25px;
          opacity: .3;
          float: left;
          margin: 0;
        }
        &:nth-child(4) {
          img {
            background: $dvGray50;
            border-radius: 100px;
          }
        }
      }
    }
  }
}

/* User Reviews */
.userReviewList {
  li {
    padding: 0px 15px;
    cursor: pointer;
    .reviewLeft {
      float: left;
      width: 35%;
      margin-right: 5%;
      img {
        width: 100%;
        float: left;
      }
      .ratingWrap {
        background: $dvGray;
        float: left;
        width: 100%;
        height: 30px;
      }
      h6 {
        width: 100%;
        float: left;
        font-size: 32px;
        font-weight: 300;
        color: $dvGray50;
        text-align: center;
      }
    }
    .reviewRight {
      float: left;
      width: 60%;
      h4 {
        font-size: 15px;
        font-weight: 300;
        color: $dvGray;
        text-transform: none;
        margin: 0;
        padding: 0;
        padding-top: 2%;
        float: left;
      }
      h5 {
        font-size: 11px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $dvGray50;
        margin: 5px 0 10px 0;
        float: left;
        clear: left;
      }
      p {
        margin: 0;
        padding: 0;
        float: left;
      }
    }
/*    &.strains {
      border: 2px solid $dvGreen;
    }
    &.concentrates {
      border: 2px solid $dvYellow;
    }
    &.edibles {
      border: 2px solid $dvRed;
    }*/
  }
}

/* Business Dashboard */
.updateBusinessForm {
  float: left;
  color: $dvGray;
  font-family: open sans, 'open-sans', serif;
  fieldset {
    margin: 0;
    border: none;
  }
  input,
  textarea{
    margin: 0px 0 25px 0 !important;
    float: left;
    border: none;
    border-bottom: 1px solid $dvGray20;
    &:active,
    &:focus,
    &:hover {
      border-color: $dvGray;
    }
  }
  .username {
    font-size: 24px;
    font-weight: 300;
  }
  .bio {
    font-size: 14px;
    line-height: 22px;
    height: 100%;
    margin: 0;
  }
  .location,
  .phone,
  .email,
  .website {
    font-size: 16px;
  }
  .imageWrap {
    position: relative;
    img {
      margin-bottom: 30px;
    }
    .image {
      margin-top: 10px;
      width: 100%;
      &::before {
        content: "X";
        background: red;
        width: 40px;
        height: 40px;
        display: inline;
        position: relative;
        bottom: 0;
        right: 0;
        color: white;
      }
    }
    .deleteImage {
      cursor: pointer;
      padding: 5px 2px 0 5px;
      border-top-left-radius: 50%;
      position: absolute;
      bottom: 30px;
      right: 15px;
      color: white;
      background: $dvGray20;
      &:hover {
        background: $dvRed;
      }
    }
  }
  .uploadImage,
  .uploadLogo {
    display: none;
  }
  .uploadImageBtn,
  .uploadLogoBtn {
    text-align: center;
    span {
      i {
        font-size: 52px;
        line-height: 25px;
        float: none;
      }
    }
    &:hover {
      color: $dvGray;
      cursor: pointer;
    }
  }
}

/* Business Profile */
.businessInfo {
  .businessLogo {
    float: left;
    clear: both;
    width: 100%;
    max-width: 150px;
    border: 1px solid $dvGray5;
    border-radius: 5px;
  }
  .businessName {
    float: left;
    clear: both;
    width: 100%;
    font-size: 24px;
    font-family: $dvTextFont;
    text-transform: none;
    font-weight: 300;
    margin: 15px 0 0 0;
  }
  .businessLocation {
    float: left;
    clear: both;
    width: 100%;
    color: $dvGray50;
    font-size: 14px;
    font-family: $dvTextFont;
    font-weight: 600;
    text-transform: uppercase;
    margin: 5px 0 10px 0;
  }
  .businessBio {
    float: left;
    clear: both;
    width: 100%;
    font-size: 12px;
    line-height: 22px;
  }
}
.businessContactInfo {
  ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid $dvGray5;
    a {
      font-family: $dvTextFont;
      font-size: 12px;
      letter-spacing: 1px;
      text-align: right;
      color: $dvGray;
      width: 100%;
      li {
        line-height: 25px;
        margin: 0;
        padding: 5px 10px 5px 20px;
        display: block;
        width: 100%;
        float: left;
        border-bottom: 1px solid $dvGray5;
        cursor: pointer;
        i {
          float: left;
          color: $dvGray20;
        }
        &:hover {
          background: $dvGray5;
        }
        label {
          span {
            margin-top: -12px;
            padding: 0;
            position: absolute;
            left: 60px;
            pointer-events: none;
          }
        }
      }
    }
  }
}
.businessImageSlider {
  margin-bottom: 40px;
}
.slick-slide {
  height: 220px;
}
.slick-dots {
  bottom: -35px;
  li {
    background: $dvGray20;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    color: transparent;
    &:hover {
      border: 1px solid $dvGray;
    }
  }
  .slick-active {
    background: $dvGray;
    border: 1px solid $dvGray;
  }
}
.slick-arrow {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  z-index: 2;
  &:visited {
    border-color: $dvGray20;
  }
  &:hover,
  &:focus {
    border-color: rgba(255,255,255,.5);
  }
}
.slick-prev {
  left: 5px;
  border-right: 10px solid $dvGray20;; 
  &:before {
    content: "";
  }
}
.slick-next {
  right: 5px;
  border-left: 10px solid $dvGray20;; 
  &:before {
    content: "";
  }
}
.products {
  margin-top: 40px;
  font-family: $dvTextFont;
  .nav-tabs {
    li {
      width: 33%;
      a {
        color: $dvGray50;
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
        padding: 10px 0;
        margin-right: 0;
      }
      &:first-child.active {
        a {
          color: $dvGreen;
          border: none;
          border-bottom: 3px solid $dvGreen;
        }
      }
      &:nth-child(2).active {
        a {
          color: $dvYellow;
          border: none;
          border-bottom: 3px solid $dvYellow;
        }
      }
      &:nth-child(3).active {
        a {
          color: $dvRed;
          border: none;
          border-bottom: 3px solid $dvRed;
        }
      }
    }
  }
  .tab-content {
    #staticExample {
      width: 100%;
      margin-top: 15px;
    }
    .addListingBtn {
      text-align: center;
      margin-top: -21%;
      margin-left: 33%;
      span {
        i {
          font-size: 52px;
          line-height: 25px;
          float: none;
        }
      }
      &:hover {
        color: $dvGray;
        cursor: pointer;
      }
    }
  }
}






