.dvCardList {
  h4 {
    margin-top: 100px;
    text-align: center;
    font-size: 26px;
  }
  h6 {
    font-family: $dvTextFont;
    font-family: 14px;
    text-align: center;
    text-transform: none;
    line-height: 16px;
    a {
      color: $dvGreen;
      font-weight: bold;
    }
  }
}

.dispensaryLogoWrap,
.producerLogoWrap,
.processorLogoWrap {
  float: left;
  clear: left;
} 
.dispensaryLogo,
.businessLogo,
.producerLogo,
.processorLogo {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  clear: left;
}

.dispensaryName,
.dealTitle,
.strainName,
.concentrateName,
.edibleName {
  font-family: $dvHeaderFont;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
  color: $dvGray;
  margin: 5px 0 0 0;
  padding: 0;
}

.strainChemistry,
.concentrateType,
.edibleType {
  font-size: 22px;
  padding: 0;
  margin: -8px 0 0 0;
}
.strainChemistry {
  color: $dvGreen;
}
.concentrateType {
  color: $dvYellow;
}
.edibleType {
  color: $dvRed;
}

.businessName,
.strainProducer,
.edibleProcessor,
.concentrateProcessor {
  font-family: $dvTextFont;
  font-size: 16px;
  font-weight: normal;
  color: $dvGray;
  margin: 0px 0 10px 0;
  padding: 0;
}

.dispensaryAddress,
.businessAddress,
.producedBy {
  font-family: $dvTextFont;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: $dvGray20;
  padding: 0;
  margin: 0;
}

.viewOnMap {
  font-family: $dvTextFont;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  color: $dvGray;
  cursor: pointer;
  &:hover {
    color: $dvRed;
  }
}

.contactInfo {
  position: relative;
  top: -20px;
  float: none;
  clear: left;
  .dispensaryWebsite a,
  .dispensaryEmail a,
  .dispensaryPhone a,
  .businessWebsite a,
  .businessEmail a,
  .businessPhone a {
    font-family: $dvTextFont;
    font-size: 14px;
    font-weight: bold;
    color: $dvGray20;
    &:hover {
      color: $dvGray;
    }
  }
}

.userRatingDisplay {
  font-family: $dvTextFont;
  font-size: 14px;
  font-weight: normal;
  color: $dvGray;
  height: 0;
  position: relative;
  z-index: 3;
  top: -45px;
}


.strainDescriptionSubHeader {
  margin: -6px 0 0 0;
}
.strainDescription,
.edibleDescription {
  font-family: $dvTextFont;
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0 0 0;
  padding: 0;
}

.dispensaryGallery,
.dealGallery,
.strainGallery,
.concentrateGallery,
.edibleGallery {
  width: 100%;
  position: relative;
  z-index: -10;
}

/* Strain Zoom Start */ 
/*Some CSS*/

#strainGalleryWrap { 
  margin: auto; 
  position: relative;
  overflow: hidden;
}
#strainGalleryWrap:hover {
  #strainGallery { 
    -webkit-filter: grayscale(1); 
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
    transition: .3s;
  }
}

/*Lets create the magnifying glass*/
#zoom {
  width: 275px; 
  height: 275px;
  position: absolute;
  border-radius: 100%;
  
  /*Multiple box shadows to achieve the glass effect*/
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.85), 
  inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  
  /*hide the glass by default*/
  display: none;
  cursor: none;
}

/*To solve overlap bug at the edges during magnification*/
#strainGallery { display: block; }
#strainGallery:hover {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  -ms-transition: .3s;
  transition: .3s;
}
/* Strain Zoom End */


.strainGalleryMobile,
.dispensaryGalleryMobile,
.concentrateGalleryMobile,
.edibleGalleryMobile {
  display: none;
}
.currentDeals {
  display: none;
}


.dispensaryHours {
  background: $dvGray;
  width: 100%;
  tr {
    color: white;
  }
  tr.dvGreen {
    color: $dvGreen;
  }
  td {
    font-family: $dvHeaderFont;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 20px 4px 20px;
    border-bottom: thin solid rgba(255, 255, 255, .1);
  }
  td:nth-child(2) {
    text-align: right;
  }
}

.dealDetails {
  h4 {
    font-family: $dvHeaderFont;
    text-transform: uppercase;
    font-size: 22px;
    color: $dvGray;
    margin: 20px 0 0 0;
  }
  p {
    font-family: $dvTextFont;
    font-size: 12px;
    line-height: 18px;
    color: $dvGray;
  }
  .redemptionDetails {
    border-bottom: 1px solid $dvGray20;
    padding-bottom: 15px;
    margin: 10px 0 20px 0;
    div .redeemDeal {
      background: $dvRed;
      font-family: $dvHeaderFont;
      text-transform: uppercase;
      font-size: 30px;
      color: white;
      width: 100%;
      padding: 10px 20px 5px 20px;
      &:hover {
        background: $dvGray;
      }
    }
    div label {
      font-family: $dvTextFont;
      font-size: 16px;
      line-height: 16px;
      color: $dvGray;
      float: left;
    }
    div .distanceAway,
    div .daysLeft {
      color: $dvRed;
      font-family: $dvTextFont;
      font-size: 38px;
      line-height: 10px;
      text-align: right;
      padding-right: 2%;
      float: left;
      width: 25%;
    }
  }
}

.flavorProfile,
.positiveEffects,
.negativeEffects {
  font-family: $dvHeaderFont;
  text-transform: uppercase;
  font-size: 20px;
  color: $dvGray;
  text-align: left;
  li {
    line-height: 18px;
    margin-bottom: 10px;
    &:nth-child(1) {
      border-bottom: 3px solid $dvGreen;
    }
    &:nth-child(2) {
      border-bottom: 3px solid $dvYellow;
    }
    &:nth-child(3) {
      border-bottom: 3px solid $dvRed;
    }
  }
}
.strainProfileTitle,
.concentrateProfileTitle,
.edibleProfileTitle {
  font-family: $dvTextFont;
  text-align: center;
  color: $dvGray;
  font-size: 10px;
  margin: 0;
  padding-bottom: 10px;
}

.donut-chart { 
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  float: left;
}

/* Potency */
.thcPotency,
.cbdPotency {
  margin: 0 auto;
  width: 27%;
  text-align: center;
  font-family: $dvHeaderFont;
  text-transform: uppercase;
  font-size: 40px;
  color: $dvGray;
  label {
    position: relative;
    top: -30px;
    font-size: 20px;
    color: $dvGray20;
  }
}
.ediblePotency {
  li:nth-child(1) {
    background: $dvGreen;
  }
  li:nth-child(2) {
    background: $dvYellow;
  }
  li:nth-child(3) {
    background: $dvRed;
  }
  li {
    font-size: 40px;
    font-family: $dvHeaderFont;
    color: white;
    text-align: center;
    text-transform: uppercase;
    line-height: 14px;
    padding-top: 15px;
    padding: 20px 0 5px 0;
    span {
      font-size: 24px;
    }
    .total {
      color: $dvGray50;
      font-size: 16px;
    }
  }
}

/* Reviews */
.reviews {
  .leaveReview {
    padding: 0;
    .avatarWrap {
      float: left;
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        z-index: 3;
        cursor: pointer;
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
      }
      .reviewBanner {
        float: left;
        position: absolute;
        z-index: 2;
        font-size: 11px;
        font-family: $dvTextFont;
        font-weight: bold;
        color: white;
        padding: 5px 5px 5px 40px;
        background: $dvGray;
        top: 0;
        left: 10px;
        .closeReviewBanner {
          color: white;
          text-decoration: none;
          opacity: .5;
          cursor: pointer;
          margin-left: 5px;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    #reviewInput {
      border: 2px solid $dvGray20;
      font-family: $dvTextFont;
      color: $dvGray;
      padding: 40px 10px 10px 10px;
      border-radius: 20px 20px 0 0;
      margin-top: -40px;
      float: right;
      height: 100px;
      width: 100%;
      &:hover,
      &:active,
      &:focus {
        border-color: $dvGray;
      }
    }
    #submitReview {
      font-family: $dvTextFont;
      font-size: 14px;
      text-align: center;
      color: $dvGray;
      border: 2px solid $dvGray;
      background: none;
      margin-top: 5px;
      margin-left: 50px;
      padding: 10px;
      float: right;
      width: 100%;
      &:hover {
        background: $dvGray;
        color: white;
      }
    }
  }
  .totalReviews {
    font-family: $dvTextFont;
    font-size: 14px;
    text-align: center;
  }
  #reviewsDiv {
    margin-top: 20px;
    padding: 0;
    h4 {
      font-family: $dvTextFont;
      font-size: 15px;
      text-transform: uppercase;
      margin: 0;
      color: $dvGray;
      padding: 10px 0 0 0;
      border-top: 1px solid $dvGray5;
    }
    h6 {
      font-family: $dvTextFont;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: bold;
      color: $dvGreen;
      margin: 0px 0 3px 0;
    }
    p {
      font-family: $dvTextFont;
      font-size: 12px;
      color: $dvGray;
      margin: 0;
      padding: 0 0 8px 60px;
    }
    div {
      border-radius: 50%;
      float: left;
      margin: 10px 20px 10px 0;
      width: 40px;
      height: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .pleaseSignIn {
    padding-top: 20px;
    text-align: center;
    color: $dvGray;
    position: relative;
    z-index: 5;
    a {
      color: $dvGreen;
      cursor: pointer;
    }
  }
}

/* User Information */
.coverImageWrap {
  img {
    width: 100%;
  }
  .coverOverlay {
    background: url('../img/coverPhotoFade.png') bottom left repeat-x;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 15px;
    opacity: .5;
  }
}
.userInfoLeft {
  margin-top: -75px;
  .userAvatar {
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0 15px;
    float: left;
  }
  .buddyBtn {
    float: left;
    clear: left;
    background-color: transparent;
    border: 2px solid $dvGreen;
    color: $dvGreen;
    font-family: $dvTextFont;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    width: 95%;
    height: 40px;
    margin: 10px 20px 0 20px;
    padding: .5% 0;
    box-shadow: none;
    &:hover {
      color: white;
      background: $dvGreen;
    }
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }
}
.userInfoMiddle {
  margin-top: -25px;
  h1 {
    font-family: $dvHeaderFont;
    font-size: 40px;
    color: white;
    border: none;
    padding: 0;
    margin: -7px 0 0 0;
  } 
  h2 {
    font-family: $dvTextFont;
    font-size: 12px;
    line-height: 16px;
    color: $dvGray20;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    span {
      color: $dvGray;
    }
  }
  h3 {
    font-family: $dvTextFont;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    text-transform: none;
    color: $dvGray;
    border: none;
    border-top: 1px solid $dvGray5;
    padding: 5px 0 0 0;
    margin: 5px 0 0 0;
  }
  p {
    font-family: $dvTextFont;
    font-size: 12px;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
.userInfoRight {
  ul {
    margin: 15px 0;
    li {
      display: inline;
      font-family: $dvTextFont;
      font-size: 10px;
      padding: 0;
      text-align: center;
      img {
        width: 80%;
        margin: 0 10% 5px 10%;
        background: $dvGray20;
        border-radius: 50%;
        position: relative;
        clear: right;
        cursor: pointer;
      }
      &:nth-child(1) {
        img {
          border: 2px solid $dvGreen;
          &:hover {
            background: $dvGreen;
          }
        }
      }
      &:nth-child(2) {
        img {
          border: 2px solid $dvYellow;
          &:hover {
            background: $dvYellow;
          }
        }
      }
      &:nth-child(3) {
        img {
          border: 2px solid $dvRed;
          &:hover {
            background: $dvRed;
          }
        }
      }
    }
  }
}
.achievements {
  .progressWrap {
    margin-top: 20px;
    .progressBackground {
      border: 2px solid $dvGray20;
      width: 100%;
      height: 30px;
    }
    .progressBar {
      background: $dvGreen;
      width: 75%;
      height: 27px;
      margin: -28px 0 0 2px;
    }
    h4 {
      font-family: $dvTextFont;
      font-size: 12px;
      color: $dvGray;
      text-align: center;
    }
  }
  ul {
    margin: 15px 0;
    li {
      display: inline;
      font-family: $dvTextFont;
      font-size: 10px;
      padding: 0;
      text-align: center;
      img {
        width: 80%;
        margin: 10px 10%;
        background: $dvGray20;
        border-radius: 50%;
        border: 2px solid $dvGray20;
        position: relative;
        clear: right;
      }
    }
  }
}
.userStats {
  padding: 0;
  li {
    display: inline;
    width: 15%;
    margin-right: 10px;
    float: left;
    img {
      width: 100%;
      border-radius: 50%;
      padding: 2px;
      background: $dvGray20;
    }
  }
  li.active:nth-child(1) {
    img {
      background: $dvGreen;
    }
  }
  li.active:nth-child(2) {
    img {
      background: $dvYellow;
    }
  }
  li.active:nth-child(3) {
    img {
      background: $dvRed;
    }
  }
  li.active:nth-child(4) {
    img {
      background: $dvGray;
    }
  }
}

/* User Favorites */
.userFavorites {
  ul {
    height: 100%;
    div {
      border-bottom: 1px solid $dvGray5;
    }
    li {
      background: $dvGray20;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      border: 3px solid;
      width: 20%;
      margin: 2.5%;
      position: relative;
      a {
        background-size: 100%;
        background-repeat: no-repeat;
        color: transparent;
        padding-top: 80%;
        border: none;
        text-align: center;
        &:active {
          color: $dvGray;
        }
        &:hover {
          background: none;
          border: none;
        }
      }
    }
  }
  li.active>a,
  li.active>a:hover,
  li.active>a:focus,
  li.active>a:active {
    background: none;
    border: none;
  }
  li:nth-child(1) {
    border-color: $dvGreen;
    &:hover,
    &.active {
      background-color: $dvGreen;
    }
  }
  li:nth-child(2) {
    border-color: $dvYellow;
    &:hover,
    &.active {
      background-color: $dvYellow;
    }
  }
  li:nth-child(3) {
    border-color: $dvRed;
    &:hover,
    &.active {
      background-color: $dvRed;
    }
  }
  li:nth-child(4) {
    border-color: $dvGray;
    &:hover,
    &.active {
      background-color: $dvGray;
    }
  }
}




