// colors

$dvRed: #f7253e;
$dvGreen: #3dd861;
$dvYellow: #fcd31c;
$dvGray: #2c3034;
$dvGray50: rgba(44,48,52,.5);
$dvGray20: rgba(44,48,52,.2);
$dvGray5: rgba(44,48,52,.05);
$dvGray3: rgba(44,48,52,.03);
$dvWhite20: rgba(255,255,255,.2);
$dvWhite10: rgba(255,255,255,.1);
$dvWhite5: rgba(255,255,255,.05);

// typography

$dvHeaderFont: 'Bebas Neue','Khand', sans-serif;
$dvTextFont: 'Open Sans', 'Helvetica', sans-serif;