header {
  background: rgb(44,48,52);
  padding: 20px 0;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 0 20px 5px rgba(0,0,0,.2);
  .logo {
    height: 50px;
    padding: 0px;
    margin: 0 auto;
    position: relative;
  }
}
body {
  padding: 120px 0 0 0;
  position: relative;
  text-align: center;
  margin: 0 auto;
  div {
    margin: 20px auto 0 auto;
    text-align: center;
    background: rgb(44,48,52);
    float: left;
    .headerImage {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .mobileHeader {
      display: none;
    }
    h1 {
      font-family: bebas neue;
      font-weight: normal;
      color: white;
      font-size: 35px;
      text-transform: uppercase;
      margin: 20px 0 10px 0;
    }
    h2 {
      font-family: open sans, helvetica, arial, sans-serf;
      color: rgb(247,37,62);
      font-weight: lighter;
      margin-top: 0;
      letter-spacing: 1.5px;
      font-size: 16px;
      text-transform: uppercase;
    }
    h4 {
      font-family: bebas neue;
      font-size: 28px;
      font-weight: normal;
      text-align: right;
      color: #fcd31c;
      margin: 10px 0 0 0;
      padding: 0;
    }
    h5 {
      font-family: open sans, helvetica, arial, sans-serf;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 14px;
      font-weight: normal;
      text-align: right;
      margin: 0;
      padding: 0;
    }
    p {
      font-family: open sans, helvetica, arial, sans-serf;
      color: white;
      font-size: 16px;
      padding-bottom: 20px;
    }
    .age {
      margin-right: 5px;
      width: 18px;
      height: 18px
    }
    label {
      font-family: open sans, helvetica, arial, sans-serf;
      font-size: 14px;
      color: white;
    }
    .socialicon {
      margin: 30px 5px;
      img {
        width: 5%;
        margin: 10px 0 30px 0;
        background: white;
        border-radius: 5px;
        border: 3px solid rgba(255,255,255,.15);
        &:hover {
          border-color: #fcd31c;
          background: #fcd31c;
        }
      }
    }
    .betacode,
    .email {
      padding: 13px 20px;
      margin: 5px auto 10px auto;
      width: 50%;
      color: rgba(44,48,52,.4);
      text-align: center;
      text-transform: uppercase;
      font-family: open sans;
      font-size: 24px;
      font-weight: 300;
      border: 2px solid rgba(44,48,52,.2);
      border-radius: 5px;
      &:focus {
        color: rgb(44,48,52);
      }
    }
    .button {
      -webkit-appearance: none;
      margin: 20px auto 20px auto;
      background: rgb(247,37,62);
      color: white;
      font-family: open sans;
      text-transform: uppercase;
      font-weight: 300;
      text-decoration: none;
      font-size: 18px;
      padding: 15px 10%;
      border: none;
      border-radius: 5px;
      &:hover {
        background: rgb(61,216,97);
        cursor: pointer;
      }
    }
    .betabtn {
      -webkit-appearance: none;
      border-radius: 5px;
      background: #fcd31c;
    }
    .testimonials {
      float: left;
      list-style: none;
      margin: 1% 0;
      padding: 2%;
      .testimonialFull,
      .testimonialLeft,
      .testimonialRight {
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 10px;
        font-family: open sans, helvetica, arial, sans-serf;
        font-weight: 300;
        font-size: 16px;
        text-align: left;
        padding: 2.5%;
        color: white;
        float: left;
        position: relative;
        &:hover {
          border-color: #fcd31c;
        }
        a {
          color: #fcd31c;
          text-decoration: none;
        }
        span {
          margin-top: 10px;
          width: 100%;
          float: left;
          clear: both;
          img {
            width: 60px;
            float: right;
            border-radius: 30px;
            margin-left: 15px;
          }
        }
      }
      .testimonialFull {
        width: 94%;
      }
      .testimonialLeft,
      .testimonialRight {
        width: 43.4%;
        min-height: 210px;
      }
      .testimonialLeft {
        margin: 1% 1% 1% 0;
      }
      .testimonialRight {
        margin: 1% 0 1% 1%;
      }
      .testimonialFull {
        margin: 1% 0;
      }
    }
  }
  footer {
    color: rgb(44,48,52);
    font-family: open sans, helvetica, arial, sans-serf;
    text-align: center;
    float: left;
    width: 100%;
    padding: 20px 0;
  }
}
.section100 {
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border-radius: 0;
}
.section50left,
.section50right {
  background: none;
  border: 2px solid rgba(44,48,52,.2);
  width: 36.3%;
  padding: 2%;
  min-height: 300px;
  border-radius: 10px;
  h1 {
    color: rgb(44,48,52);
  }
  p {
    color: rgba(44,48,52,.2);
  }
}
.section50left {
  margin: 2% 1% 2% 8%;
}
.section50right {
  margin: 2% 8% 2% 1%;
}




@media screen and (max-width:600px) {
  body {
    padding-top: 70px;
    div {
      h1 {
        font-size: 22px;
      }
      h2 {
        font-size: 12px;
      }
      .button {
        font-size: 12px;
        padding: 10px 15px;
      }
      .desktopHeader {
        display: none;
      }
      .mobileHeader {
        display: inline;
      }
      .betacode,
      .email {
        padding: 10px;
        width: 80%;
        font-size: 16px;
      }
      .socialicon {
        img {
          width: 8%;
        }
      }
      .testimonials {
        .testimonialFull,
        .testimonialLeft,
        .testimonialRight {
          font-size: 12px;
          width: 92%;
          margin: 1%;
          border-radius: 5px;
          h4 {
            font-size: 20px;
          }
          h5 {
            font-size: 14px;
            color: rgba(255,255,255,.2);
          }
        }
        .testimonialLeft,
        .testimonialRight {
          min-height: 130px;
        }
      }
    }
  }
  footer {
    font-size: 12px;
  }
  section {
    .section50left,
    .section50right {
      width: 91%;
      min-height: 150px;
      margin: 2%;
    }
    .section50left {
      p {
        font-size: 12px;
      }
    }
  }
}