@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/bebas_neue/bebasneue_regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/bebas_neue/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebas_neue/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebas_neue/bebasneue_regular-webfont.ttf") format("truetype"), url("../fonts/bebas_neue/bebasneue_regular-webfont.svg") format("svg");
  /* Legacy iOS */ }
/* line 1, _items.scss */
.dvCardList {
  min-height: 400px; }
  /* line 3, _items.scss */
  .dvCardList h4 {
    margin-top: 100px;
    text-align: center;
    font-size: 26px; }
  /* line 8, _items.scss */
  .dvCardList h6 {
    font-family: "Open Sans", sans-serif;
    font-family: 14px;
    text-align: center;
    text-transform: none;
    line-height: 16px; }
    /* line 14, _items.scss */
    .dvCardList h6 a {
      color: #3dd861;
      font-weight: bold; }

/* line 21, _items.scss */
.dispensaryLogoWrap,
.producerLogoWrap {
  float: left;
  clear: left; }

/* line 26, _items.scss */
.dispensaryLogo,
.businessLogo,
.producerLogo {
  width: 100%;
  margin: 0;
  padding: 0;
  float: left;
  clear: left; }

/* line 36, _items.scss */
.dispensaryName,
.dealTitle,
.strainName {
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
  color: #2c3034;
  margin: 5px 0 0 0;
  padding: 0; }

/* line 48, _items.scss */
.strainChemistry {
  font-size: 22px;
  color: #3dd861;
  padding: 0;
  margin: -8px 0 0 0; }

/* line 55, _items.scss */
.businessName,
.strainProducer {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #2c3034;
  margin: 0px 0 10px 0;
  padding: 0; }

/* line 65, _items.scss */
.dispensaryAddress,
.businessAddress,
.producedBy {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(44, 48, 52, 0.2);
  padding: 0;
  margin: 0; }

/* line 77, _items.scss */
.viewOnMap {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  color: #2c3034;
  cursor: pointer; }
  /* line 85, _items.scss */
  .viewOnMap:hover {
    color: #f7253e; }

/* line 90, _items.scss */
.contactInfo {
  position: relative;
  top: -20px;
  float: none;
  clear: left; }
  /* line 95, _items.scss */
  .contactInfo .dispensaryWebsite a,
  .contactInfo .dispensaryEmail a,
  .contactInfo .dispensaryPhone a,
  .contactInfo .businessWebsite a,
  .contactInfo .businessEmail a,
  .contactInfo .businessPhone a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: rgba(44, 48, 52, 0.2); }
    /* line 105, _items.scss */
    .contactInfo .dispensaryWebsite a:hover,
    .contactInfo .dispensaryEmail a:hover,
    .contactInfo .dispensaryPhone a:hover,
    .contactInfo .businessWebsite a:hover,
    .contactInfo .businessEmail a:hover,
    .contactInfo .businessPhone a:hover {
      color: #2c3034; }

/* line 111, _items.scss */
.userRatingDisplay {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #2c3034;
  height: 0;
  position: relative;
  z-index: 3;
  top: -45px; }

/* line 123, _items.scss */
.strainDescriptionSubHeader {
  margin: -6px 0 0 0; }

/* line 126, _items.scss */
.strainDescription {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin: 10px 0 0 0;
  padding: 0; }

/* line 134, _items.scss */
.dispensaryGallery,
.dealGallery,
.strainGallery {
  width: 100%;
  position: relative;
  z-index: -10; }

/* Strain Zoom Start */
/* line 143, _items.scss */
.strainGalleryWrap .strainGallery {
  -webkit-transition: -webkit-filter 500ms; }
/* line 146, _items.scss */
.strainGalleryWrap.active .strainGallery {
  -webkit-filter: grayscale(1); }
/* line 149, _items.scss */
.strainGalleryWrap #zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 250px;
  margin: -125px 0 0 -125px;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 2px white, 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: scale(0);
  -webkit-transition: opacity 500ms, -webkit-transform 500ms;
  pointer-events: none; }
/* line 166, _items.scss */
.strainGalleryWrap.active #zoom {
  opacity: 1;
  -webkit-transform: scale(1); }

/* Strain Zoom End */
/* line 172, _items.scss */
.strainGalleryMobile,
.dispensaryGalleryMobile {
  display: none; }

/* line 176, _items.scss */
.zoomContainer {
  top: 60px !important;
  cursor: none; }

/* line 181, _items.scss */
.currentDeals {
  display: none; }

/* line 186, _items.scss */
.dispensaryHours {
  background: #2c3034;
  width: 100%; }
  /* line 189, _items.scss */
  .dispensaryHours tr {
    color: white; }
  /* line 192, _items.scss */
  .dispensaryHours tr.dvGreen {
    color: #3dd861; }
  /* line 195, _items.scss */
  .dispensaryHours td {
    font-family: "Bebas Neue", "Khand", sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    padding: 10px 20px 4px 20px;
    border-bottom: thin solid rgba(255, 255, 255, 0.1); }
  /* line 202, _items.scss */
  .dispensaryHours td:nth-child(2) {
    text-align: right; }

/* line 208, _items.scss */
.dealDetails h4 {
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: #2c3034;
  margin: 20px 0 0 0; }
/* line 215, _items.scss */
.dealDetails p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #2c3034; }
/* line 221, _items.scss */
.dealDetails .redemptionDetails {
  border-bottom: 1px solid rgba(44, 48, 52, 0.2);
  padding-bottom: 15px;
  margin: 10px 0 20px 0; }
  /* line 225, _items.scss */
  .dealDetails .redemptionDetails div .redeemDeal {
    background: #f7253e;
    font-family: "Bebas Neue", "Khand", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    width: 100%;
    padding: 10px 20px 5px 20px; }
    /* line 233, _items.scss */
    .dealDetails .redemptionDetails div .redeemDeal:hover {
      background: #2c3034; }
  /* line 237, _items.scss */
  .dealDetails .redemptionDetails div label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #2c3034;
    float: left; }
  /* line 244, _items.scss */
  .dealDetails .redemptionDetails div .distanceAway,
  .dealDetails .redemptionDetails div .daysLeft {
    color: #f7253e;
    font-family: "Open Sans", sans-serif;
    font-size: 38px;
    line-height: 10px;
    text-align: right;
    padding-right: 2%;
    float: left;
    width: 25%; }

/* line 258, _items.scss */
.flavorProfile,
.positiveEffects,
.negativeEffects {
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #2c3034;
  text-align: left; }
  /* line 266, _items.scss */
  .flavorProfile li,
  .positiveEffects li,
  .negativeEffects li {
    line-height: 18px;
    margin-bottom: 10px; }
    /* line 269, _items.scss */
    .flavorProfile li:nth-child(1),
    .positiveEffects li:nth-child(1),
    .negativeEffects li:nth-child(1) {
      border-bottom: 3px solid #3dd861; }
    /* line 272, _items.scss */
    .flavorProfile li:nth-child(2),
    .positiveEffects li:nth-child(2),
    .negativeEffects li:nth-child(2) {
      border-bottom: 3px solid #fcd31c; }
    /* line 275, _items.scss */
    .flavorProfile li:nth-child(3),
    .positiveEffects li:nth-child(3),
    .negativeEffects li:nth-child(3) {
      border-bottom: 3px solid #f7253e; }

/* line 280, _items.scss */
.strainProfileTitle {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #2c3034;
  font-size: 10px;
  margin: 0;
  padding-bottom: 10px; }

/* line 289, _items.scss */
.barChart {
  margin: 30px 0 0 0;
  padding: 0;
  height: 100px;
  width: 100%;
  position: relative;
  bottom: 0; }
  /* line 296, _items.scss */
  .barChart li {
    width: 30%;
    margin: 0 1.5%;
    float: left;
    position: relative;
    bottom: 0; }
    /* line 302, _items.scss */
    .barChart li:nth-child(1) {
      background-color: #3dd861; }
      /* line 304, _items.scss */
      .barChart li:nth-child(1) div {
        background-color: #3dd861; }
    /* line 308, _items.scss */
    .barChart li:nth-child(2) {
      background-color: #fcd31c; }
      /* line 310, _items.scss */
      .barChart li:nth-child(2) div {
        background-color: #fcd31c; }
    /* line 314, _items.scss */
    .barChart li:nth-child(3) {
      background-color: #f7253e; }
      /* line 316, _items.scss */
      .barChart li:nth-child(3) div {
        background-color: #f7253e; }
    /* line 320, _items.scss */
    .barChart li div {
      color: white;
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      text-align: center;
      margin-top: -30px;
      padding-top: 10%;
      border-bottom: 1px solid white; }

/* line 333, _items.scss */
.thcPotency,
.cbdPotency {
  margin: 0 auto;
  width: 27%;
  text-align: center;
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  color: #2c3034; }
  /* line 342, _items.scss */
  .thcPotency label,
  .cbdPotency label {
    position: relative;
    top: -30px;
    font-size: 20px;
    color: rgba(44, 48, 52, 0.2); }

/* line 351, _items.scss */
.reviews .leaveReview {
  padding: 0; }
  /* line 353, _items.scss */
  .reviews .leaveReview .avatarWrap {
    float: left; }
    /* line 355, _items.scss */
    .reviews .leaveReview .avatarWrap .avatar {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      z-index: 3;
      cursor: pointer;
      transition: .5s;
      -webkit-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s; }
    /* line 367, _items.scss */
    .reviews .leaveReview .avatarWrap .reviewBanner {
      float: left;
      position: absolute;
      z-index: 2;
      font-size: 11px;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: white;
      padding: 5px 5px 5px 40px;
      background: #3dd861;
      top: 0;
      left: 10px; }
      /* line 379, _items.scss */
      .reviews .leaveReview .avatarWrap .reviewBanner .closeReviewBanner {
        color: white;
        text-decoration: none;
        opacity: .5;
        cursor: pointer;
        margin-left: 5px; }
        /* line 385, _items.scss */
        .reviews .leaveReview .avatarWrap .reviewBanner .closeReviewBanner:hover {
          opacity: 1; }
  /* line 391, _items.scss */
  .reviews .leaveReview #reviewInput {
    border: 2px solid rgba(44, 48, 52, 0.2);
    font-family: "Open Sans", sans-serif;
    color: #2c3034;
    padding: 40px 10px 10px 10px;
    border-radius: 20px 20px 0 0;
    margin-top: -40px;
    float: right;
    height: 100px;
    width: 100%; }
    /* line 401, _items.scss */
    .reviews .leaveReview #reviewInput:hover, .reviews .leaveReview #reviewInput:active, .reviews .leaveReview #reviewInput:focus {
      border-color: #3dd861; }
  /* line 407, _items.scss */
  .reviews .leaveReview #submitReview {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #3dd861;
    border: 2px solid #3dd861;
    background: none;
    margin-top: 5px;
    margin-left: 50px;
    padding: 10px;
    float: right;
    width: 100%; }
    /* line 419, _items.scss */
    .reviews .leaveReview #submitReview:hover {
      background: #3dd861;
      color: white; }
/* line 425, _items.scss */
.reviews .totalReviews {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center; }
/* line 430, _items.scss */
.reviews #reviewsDiv {
  margin-top: 20px;
  padding: 0; }
  /* line 433, _items.scss */
  .reviews #reviewsDiv h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: #2c3034;
    padding: 10px 0 0 0;
    border-top: 1px solid rgba(44, 48, 52, 0.05); }
  /* line 442, _items.scss */
  .reviews #reviewsDiv h6 {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #3dd861;
    margin: 0px 0 3px 0; }
  /* line 450, _items.scss */
  .reviews #reviewsDiv p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: #2c3034;
    margin: 0;
    padding: 0 0 8px 60px; }
  /* line 457, _items.scss */
  .reviews #reviewsDiv img {
    border-radius: 50%;
    float: left;
    margin: 10px 20px 10px 0;
    width: 40px;
    height: 40px; }
/* line 465, _items.scss */
.reviews .pleaseSignIn {
  padding-top: 20px;
  text-align: center;
  color: #2c3034;
  position: relative;
  z-index: 5; }
  /* line 471, _items.scss */
  .reviews .pleaseSignIn a {
    color: #3dd861;
    cursor: pointer; }

/*  Start Header Bar  */
/* line 3, layout/_navbar.scss */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2%;
  background: #2c3034;
  border: none; }

/* line 12, layout/_navbar.scss */
.navbar-header {
  float: none; }

/* line 18, layout/_navbar.scss */
.navbar .logo .deviineLogo {
  float: left;
  width: 90px;
  padding: 20px 0 0 0;
  margin: 0 auto;
  position: relative; }

/* line 28, layout/_navbar.scss */
.navbar-right {
  margin: 0;
  padding: 0; }
  /* line 31, layout/_navbar.scss */
  .navbar-right .accountInfo {
    text-align: right;
    margin: 5px 0 0 0;
    float: right; }
    /* line 35, layout/_navbar.scss */
    .navbar-right .accountInfo .username {
      font-family: "Open Sans", sans-serif;
      color: white;
      font-size: 18px;
      line-height: 22px;
      font-weight: lighter;
      text-transform: uppercase;
      /*padding: 0;               THIS IS THE STYLING FOR HAVING USERNAME + LOCATION */
      padding: 10px 0 0 0;
      margin: 0; }
    /* line 46, layout/_navbar.scss */
    .navbar-right .accountInfo .location {
      color: #fcd31c;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      padding: 0;
      margin: 0; }
  /* line 54, layout/_navbar.scss */
  .navbar-right .avatarDefault {
    opacity: .1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    /* line 61, layout/_navbar.scss */
    .navbar-right .avatarDefault:hover {
      opacity: 1; }
  /* line 65, layout/_navbar.scss */
  .navbar-right .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    float: right;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    /* line 78, layout/_navbar.scss */
    .navbar-right .avatar:hover {
      border: 2px solid #fcd31c; }
  /* line 82, layout/_navbar.scss */
  .navbar-right .navbar-text {
    margin: 15px 0; }
  /* line 85, layout/_navbar.scss */
  .navbar-right .navbar-text .btn {
    margin-top: -1%;
    color: white; }
    /* line 88, layout/_navbar.scss */
    .navbar-right .navbar-text .btn span {
      color: rgba(255, 255, 255, 0.2); }
    /* line 91, layout/_navbar.scss */
    .navbar-right .navbar-text .btn:hover {
      color: #fcd31c; }

/*  End Header Bar  */
/*  Start Left Nav  */
/* line 108, layout/_navbar.scss */
#mainMenu {
  list-style-type: none;
  padding-left: 0;
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  position: fixed;
  top: 100px; }
  /* line 116, layout/_navbar.scss */
  #mainMenu > li {
    padding-left: 10px;
    padding-top: 8px;
    margin: 5px 0; }
    /* line 120, layout/_navbar.scss */
    #mainMenu > li:nth-child(1) {
      border-left: 3px solid #f7253e; }
      /* line 103, layout/_navbar.scss */
      #mainMenu > li:nth-child(1) > a:hover {
        color: #f7253e; }
    /* line 123, layout/_navbar.scss */
    #mainMenu > li:nth-child(2) {
      border-left: 3px solid #fcd31c; }
      /* line 103, layout/_navbar.scss */
      #mainMenu > li:nth-child(2) > a:hover {
        color: #fcd31c; }
    /* line 126, layout/_navbar.scss */
    #mainMenu > li:nth-child(3) {
      border-left: 3px solid #3dd861; }
      /* line 103, layout/_navbar.scss */
      #mainMenu > li:nth-child(3) > a:hover {
        color: #3dd861; }
    /* line 129, layout/_navbar.scss */
    #mainMenu > li .disabledNav {
      color: rgba(44, 48, 52, 0.2); }
      /* line 132, layout/_navbar.scss */
      #mainMenu > li .disabledNav:hover .comingSoonNavHover {
        left: -10px; }
      /* line 136, layout/_navbar.scss */
      #mainMenu > li .disabledNav .comingSoonNavHover {
        font-family: "Open Sans", sans-serif;
        font-size: 12px;
        position: absolute;
        margin-top: -18px;
        left: -1000px;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
    /* line 149, layout/_navbar.scss */
    #mainMenu > li a {
      color: #2c3034; }
      /* line 151, layout/_navbar.scss */
      #mainMenu > li a:active, #mainMenu > li a:focus, #mainMenu > li a:visited {
        text-decoration: none; }
      /* line 156, layout/_navbar.scss */
      #mainMenu > li a img {
        position: relative;
        left: -62px;
        -webkit-transition: .3s all;
        -moz-transition: .3s all;
        -ms-transition: .3s all;
        -o-transition: .3s all;
        transition: .3s all; }
        /* line 164, layout/_navbar.scss */
        #mainMenu > li a img:hover {
          left: -50px; }
  /* line 170, layout/_navbar.scss */
  #mainMenu .adminnav {
    color: rgba(44, 48, 52, 0.2); }
    /* line 172, layout/_navbar.scss */
    #mainMenu .adminnav:hover {
      color: #2c3034; }

/*  End Left Nav  */
/*  Start Right Social Icons  */
/* line 182, layout/_navbar.scss */
#socialIcons {
  display: none;
  list-style-type: none;
  position: fixed;
  top: 100px;
  right: 2%; }
  /* line 189, layout/_navbar.scss */
  #socialIcons h4 {
    font-family: "Bebas Neue", "Khand", sans-serif;
    font-size: 16px;
    text-align: right;
    margin: 0;
    padding: 0;
    color: rgba(44, 48, 52, 0.2);
    border-bottom: 1px solid rgba(44, 48, 52, 0.05); }
  /* line 198, layout/_navbar.scss */
  #socialIcons img {
    width: 35px;
    margin: 5px 0 0 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    /* line 206, layout/_navbar.scss */
    #socialIcons img:hover {
      background: #fcd31c; }

/*  End Right Social Icons  */
/*  Start Up to Top  */
/* line 216, layout/_navbar.scss */
#top {
  position: absolute;
  top: 0; }

/* line 220, layout/_navbar.scss */
.upToTop {
  position: fixed;
  right: 2%;
  bottom: 0;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  /* line 229, layout/_navbar.scss */
  .upToTop:hover {
    bottom: 2%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }

/*  End Up to Top  */
/* line 2, layout/_menuMobile.scss */
.navbar-header .menuMobile-toggler,
.navbar-header #close-menuMobile {
  display: none;
  width: 30px;
  opacity: .2;
  margin: 15px 0;
  position: absolute;
  left: 4%; }
  /* line 10, layout/_menuMobile.scss */
  .navbar-header .menuMobile-toggler:hover,
  .navbar-header #close-menuMobile:hover {
    opacity: 1; }
/* line 14, layout/_menuMobile.scss */
.navbar-header .menuMobile {
  position: fixed;
  top: 0;
  left: -75%;
  /* CHANGE .menuMobile LEFT:0; TO MAKE MENU SHOW UP */
  width: 75%;
  margin: 60px 0 0 0;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  background: #2c3034;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  /* line 28, layout/_menuMobile.scss */
  .navbar-header .menuMobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
    overflow: hidden; }
    /* line 36, layout/_menuMobile.scss */
    .navbar-header .menuMobile ul li {
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      color: rgba(255, 255, 255, 0.2);
      display: block;
      margin: 0;
      padding: 0;
      text-align: left;
      padding: 6px 0 0 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      cursor: pointer; }
      /* line 48, layout/_menuMobile.scss */
      .navbar-header .menuMobile ul li:hover {
        color: white; }
    /* line 52, layout/_menuMobile.scss */
    .navbar-header .menuMobile ul .dispensaryNav {
      color: #f7253e; }
      /* line 54, layout/_menuMobile.scss */
      .navbar-header .menuMobile ul .dispensaryNav span {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #f7253e;
        margin-left: 10px; }
    /* line 61, layout/_menuMobile.scss */
    .navbar-header .menuMobile ul .dealNav {
      color: #fcd31c; }
      /* line 63, layout/_menuMobile.scss */
      .navbar-header .menuMobile ul .dealNav span {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #fcd31c;
        margin-left: 10px; }
    /* line 70, layout/_menuMobile.scss */
    .navbar-header .menuMobile ul .strainNav {
      color: #3dd861; }
    /* line 73, layout/_menuMobile.scss */
    .navbar-header .menuMobile ul .menuMobile-subHeader {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: lighter;
      text-transform: uppercase;
      text-align: left;
      color: rgba(255, 255, 255, 0.2);
      cursor: default;
      padding-bottom: 5px; }
      /* line 82, layout/_menuMobile.scss */
      .navbar-header .menuMobile ul .menuMobile-subHeader:hover {
        color: rgba(255, 255, 255, 0.2); }

/* line 1, layout/_footer.scss */
#footer {
  margin-top: 40px;
  padding: 20px;
  background-color: #2c3034;
  color: rgba(255, 255, 255, 0.3); }
  /* line 6, layout/_footer.scss */
  #footer h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    color: #3dd861; }
  /* line 13, layout/_footer.scss */
  #footer a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white; }
    /* line 17, layout/_footer.scss */
    #footer a:hover {
      color: #3dd861; }
  /* line 21, layout/_footer.scss */
  #footer input[type='email'] {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 0;
    border: 2px solid transparent;
    height: 40px;
    padding: 10px;
    margin: 0;
    float: left;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    /* line 37, layout/_footer.scss */
    #footer input[type='email']:hover, #footer input[type='email']:active, #footer input[type='email']:focus {
      border: 2px solid #3dd861; }
  /* line 43, layout/_footer.scss */
  #footer input[type='email'] {
    width: 300px; }
    /* line 45, layout/_footer.scss */
    #footer input[type='email']:hover, #footer input[type='email']:active, #footer input[type='email']:focus {
      border-right: none; }
    /* line 50, layout/_footer.scss */
    #footer input[type='email']:visited, #footer input[type='email']:focus {
      background-color: rgba(255, 255, 255, 0.2); }
  /* line 55, layout/_footer.scss */
  #footer .btnfooter {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid #3dd861;
    color: #3dd861;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    height: 40px;
    margin-top: 0;
    padding: .5% 5%;
    box-shadow: none; }
    /* line 67, layout/_footer.scss */
    #footer .btnfooter:hover {
      color: #2c3034;
      background: #3dd861; }
    /* line 71, layout/_footer.scss */
    #footer .btnfooter:active, #footer .btnfooter:focus, #footer .btnfooter:visited {
      text-decoration: none; }
  /* line 77, layout/_footer.scss */
  #footer .btnfooterlrg {
    padding: 1.5% 5%; }
  /* line 81, layout/_footer.scss */
  #footer address {
    font-size: 10px;
    padding-top: 5%;
    width: 100%; }
  /* line 87, layout/_footer.scss */
  #footer .footerlogo {
    padding-top: 20%; }

@media screen and (max-width: 470px) {
  /*----style.scss.html start----*/
  /* line 3, 470px.scss */
  body {
    top: 70px;
    width: 98%; }

  /*----style.scss.html end----*/
  /*----home.html start----*/
  /* line 11, 470px.scss */
  #indexSummary .howItWorks .dispensariesIcon,
  #indexSummary .howItWorks .dealsIcon,
  #indexSummary .howItWorks .strainsIcon {
    width: 30%; }
  /* line 16, 470px.scss */
  #indexSummary .howItWorks h3 {
    padding-top: 1%; }
  /* line 19, 470px.scss */
  #indexSummary .howItWorks p {
    font-size: 9px;
    line-height: 12px;
    width: 50%; }

  /*----home.html end----*/
  /*----footer.html start----*/
  /* line 29, 470px.scss */
  #footer input[type='email'] {
    width: 60%;
    margin-left: 5%; }
  /* line 33, 470px.scss */
  #footer .btnfooter {
    width: 30%;
    margin-right: 5%; }
  /* line 37, 470px.scss */
  #footer .btnfooterlrg {
    margin-right: 0; }

  /*----footer.html end----*/
  /*----ratings.html start----*/
  /* line 46, 470px.scss */
  .dispensaryCard .rating,
  .dealCard .rating,
  .strainCard .rating {
    margin-top: 2%; }

  /*----ratings.html end----*/
  /*----cards.html start----*/
  /* line 53, 470px.scss */
  .cardWrapper .distanceAway,
  .cardWrapper .strainType {
    margin: 30% auto 0 auto; }

  /* line 59, 470px.scss */
  .dvCardList li {
    width: 68%; }

  /* line 63, 470px.scss */
  .featured-dispensary-true,
  .featured-deal-true,
  .featured-strain-true {
    left: -4.5%; }

  /*----cards.html end----*/
  /*----signin.html end----*/
  /* line 70, 470px.scss */
  .close-modal {
    top: 5px;
    right: 10px; }

  /*----signin.html end----*/
  /*----footer start----*/
  /* line 77, 470px.scss */
  #footer h4 {
    font-size: 14px; }

  /*----footer end----*/
  /*----modal start----*/
  /* line 85, 470px.scss */
  .modal-content .modal-header .modalTitle {
    font-size: 50px; }
  /* line 88, 470px.scss */
  .modal-content .modal-header .modalSubtitle {
    font-size: 20px; }
  /* line 93, 470px.scss */
  .modal-content .modal-footer p {
    font-size: 12px; }
    /* line 95, 470px.scss */
    .modal-content .modal-footer p span {
      color: white; }

  /*----modal end----*/ }
@media screen and (max-width: 767px) {
  /*----style.scss.html start----*/
  /* line 3, 767px.scss */
  body {
    top: 70px;
    width: 99%; }

  /*----style.scss.html end----*/
  /*----home.html start----*/
  /* line 10, 767px.scss */
  #indexSummary .howItWorks {
    padding: 20px 5%;
    height: 100%; }
    /* line 13, 767px.scss */
    #indexSummary .howItWorks:nth-child(1), #indexSummary .howItWorks:nth-child(2) {
      border-bottom: 1px solid rgba(44, 48, 52, 0.05); }
    /* line 17, 767px.scss */
    #indexSummary .howItWorks .dispensariesIcon,
    #indexSummary .howItWorks .dealsIcon,
    #indexSummary .howItWorks .strainsIcon {
      width: 22%;
      float: left;
      margin-right: 20px; }
    /* line 24, 767px.scss */
    #indexSummary .howItWorks h3 {
      font-size: 18px;
      margin: 0;
      padding: 3% 0 0 0;
      text-align: left; }
    /* line 30, 767px.scss */
    #indexSummary .howItWorks p {
      padding: 0;
      margin: 0;
      text-align: left;
      font-size: 10px;
      line-height: 14px;
      width: 62%; }
    /* line 38, 767px.scss */
    #indexSummary .howItWorks .arrowRight {
      display: inline;
      margin-left: 20px; }

  /* line 44, 767px.scss */
  .featuredBanner {
    margin-left: 25%; }

  /*----home.html end----*/
  /*----footer.html start----*/
  /* line 49, 767px.scss */
  #footer {
    margin: 30px auto 0 auto;
    text-align: center; }
    /* line 52, 767px.scss */
    #footer h4 {
      text-align: center; }
    /* line 55, 767px.scss */
    #footer a {
      font-size: 10px;
      margin: 0 auto;
      text-align: center; }
    /* line 60, 767px.scss */
    #footer p {
      font-size: 10px; }
    /* line 63, 767px.scss */
    #footer input[type='email'] {
      width: 45%;
      margin-left: 15%; }
    /* line 67, 767px.scss */
    #footer .btnfooter {
      width: 25%;
      margin-top: 0;
      margin-right: 15%; }
    /* line 72, 767px.scss */
    #footer .btnfooterlrg {
      margin-right: 0; }
    /* line 75, 767px.scss */
    #footer address {
      padding-top: 6%;
      float: right;
      text-align: center; }

  /*----footer.html end----*/
  /*----cards.html start----*/
  /* line 83, 767px.scss */
  .cardWrapper {
    margin: 0 25% !important; }

  /* line 86, 767px.scss */
  .featured-dispensary-true,
  .featured-deal-true,
  .featured-strain-true {
    left: -4%; }

  /* line 91, 767px.scss */
  .new-strain-true {
    left: 21%; }

  /*----cards.html end----*/
  /*----ratings.html start----*/
  /* line 99, 767px.scss */
  .dispensaryCard .rating,
  .dealCard .rating,
  .strainCard .rating {
    margin-top: -4%; }

  /*----ratings.html end----*/
  /*----cards.html start----*/
  /* line 107, 767px.scss */
  .dvCardList li {
    width: 40%; }

  /*----cards.html end----*/
  /*----items.html start----*/
  /* line 113, 767px.scss */
  .strainGallery,
  .dispensaryGallery {
    display: none; }

  /* line 117, 767px.scss */
  .strainGalleryMobile,
  .dispensaryGalleryMobile {
    display: inline;
    margin-bottom: 20px; }

  /*----items.html end----*/ }
@media screen and (max-width: 550px) {
  /*----cards.html start----*/
  /* line 126, 767px.scss */
  .featured-dispensary-true,
  .featured-deal-true,
  .featured-strain-true {
    left: -5.5%; }

  /*----cards.html end----*/ }
@media screen and (max-width: 980px) {
  /* line 2, 980px.scss */
  body {
    top: 70px;
    width: 99%; }

  /*----page.html start----*/
  /* line 7, 980px.scss */
  .navbar {
    padding: 0 4%;
    height: 60px; }
    /* line 12, 980px.scss */
    .navbar .navbar-header .menuMobile-toggler img {
      width: 30px; }
    /* line 16, 980px.scss */
    .navbar .navbar-header .logo .deviineLogo {
      float: left;
      left: 50px;
      width: 70px;
      padding: 13px 0; }
    /* line 22, 980px.scss */
    .navbar .navbar-header .menuMobile-toggler {
      display: inline; }
      /* line 24, 980px.scss */
      .navbar .navbar-header .menuMobile-toggler img {
        width: 50px;
        opacity: .2; }
        /* line 27, 980px.scss */
        .navbar .navbar-header .menuMobile-toggler img:hover {
          opacity: 1; }
    /* line 33, 980px.scss */
    .navbar .navbar-header .navbar-right .accountInfo {
      margin: -4px 0 0 0; }
      /* line 35, 980px.scss */
      .navbar .navbar-header .navbar-right .accountInfo .username {
        font-size: 13px;
        padding: 15px 0 0 0; }
      /* line 39, 980px.scss */
      .navbar .navbar-header .navbar-right .accountInfo .location {
        font-size: 9px; }
    /* line 43, 980px.scss */
    .navbar .navbar-header .navbar-right .navbar-text {
      margin: 10px 0; }
      /* line 45, 980px.scss */
      .navbar .navbar-header .navbar-right .navbar-text .avatar {
        width: 40px;
        height: 40px;
        border-color: #fcd31c;
        margin-left: 5px; }

  /* line 55, 980px.scss */
  #mainMenu {
    display: none;
    top: inherit;
    bottom: -10px;
    left: 0;
    width: 100%;
    z-index: 50;
    background: #2c3034;
    padding: 5px 0; }
    /* line 64, 980px.scss */
    #mainMenu > li {
      display: inline;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      width: 33%;
      float: left; }
      /* line 71, 980px.scss */
      #mainMenu > li:nth-child(1), #mainMenu > li:nth-child(2), #mainMenu > li:nth-child(3) {
        border: none; }
      /* line 76, 980px.scss */
      #mainMenu > li a {
        color: white;
        font-size: 20px; }
      /* line 80, 980px.scss */
      #mainMenu > li .typeform-share {
        display: none; }
      /* line 83, 980px.scss */
      #mainMenu > li .disabledNav {
        color: rgba(255, 255, 255, 0.2); }
      /* line 86, 980px.scss */
      #mainMenu > li .adminnav {
        display: none; }

  /* line 91, 980px.scss */
  #socialIcons {
    display: none; }

  /* line 94, 980px.scss */
  .upToTop {
    display: none; }

  /*----page.html end----*/
  /* line 100, 980px.scss */
  #indexSummary > .howItWorks p strong {
    display: inline; }
  /* line 105, 980px.scss */
  #indexSummary > .howItWorks:hover .comingSoon {
    opacity: 0; }

  /*----home start----*/
  /* line 112, 980px.scss */
  #indexSummary > .howItWorks .strainsIcon {
    background-color: #3dd861; }
  /* line 115, 980px.scss */
  #indexSummary > .howItWorks .dealsIcon {
    background-color: #FCD31C; }
  /* line 118, 980px.scss */
  #indexSummary > .howItWorks .dispensariesIcon {
    background-color: #F7253E; }

  /* line 124, 980px.scss */
  .sponsors div ul {
    opacity: 1; }

  /*----home end----*/
  /*----footer start----*/
  /* line 131, 980px.scss */
  #footer {
    margin: 0; }

  /*----footer end----*/
  /*----cards.html start----*/
  /* line 137, 980px.scss */
  .cardWrapper .dispensaryLogo,
  .cardWrapper .dealImage,
  .cardWrapper .strainImage {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none; }

  /*----cards.html end----*/
  /*----cards.html start----*/
  /* line 150, 980px.scss */
  .barChart li div {
    font-size: 16px; }

  /*----cards.html end----*/
  /*----rating.html start----*/
  /* line 159, 980px.scss */
  .rating .ratingBarWrap .ratings {
    display: none; }
  /* line 162, 980px.scss */
  .rating .ratingBarWrap .mobileRatings {
    display: inherit; }
  /* line 166, 980px.scss */
  .rating .ratingDisplay {
    top: -60px; }

  /*----rating.html start----*/ }
/* line 1, _home.scss */
#indexSummary > .howItWorks {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #2c3034;
  font-size: 11px;
  line-height: 15px;
  padding-top: 15px;
  border-color: rgba(44, 48, 52, 0.05); }
  /* line 10, _home.scss */
  #indexSummary > .howItWorks:hover .strainsIcon {
    background-color: #3dd861; }
  /* line 13, _home.scss */
  #indexSummary > .howItWorks:hover .dealsIcon {
    background-color: #fcd31c; }
  /* line 16, _home.scss */
  #indexSummary > .howItWorks:hover .dispensariesIcon {
    background-color: #f7253e; }
  /* line 20, _home.scss */
  #indexSummary > .howItWorks .dispensariesIcon,
  #indexSummary > .howItWorks .dealsIcon,
  #indexSummary > .howItWorks .strainsIcon {
    width: 50%;
    margin: auto auto;
    border-radius: 50%;
    background: rgba(44, 48, 52, 0.2); }
  /* line 28, _home.scss */
  #indexSummary > .howItWorks .dispensariesIcon {
    border: 2px solid #f7253e; }
  /* line 31, _home.scss */
  #indexSummary > .howItWorks .dealsIcon {
    border: 2px solid #fcd31c; }
  /* line 34, _home.scss */
  #indexSummary > .howItWorks .strainsIcon {
    border: 2px solid #3dd861; }
  /* line 37, _home.scss */
  #indexSummary > .howItWorks h3 {
    border: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center; }
  /* line 44, _home.scss */
  #indexSummary > .howItWorks p {
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    float: left; }
    /* line 48, _home.scss */
    #indexSummary > .howItWorks p strong {
      display: none; }
  /* line 52, _home.scss */
  #indexSummary > .howItWorks .arrowRight {
    display: none;
    float: left;
    border-top: 20px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent; }
    /* line 59, _home.scss */
    #indexSummary > .howItWorks .arrowRight.red {
      border-left-color: #f7253e; }
    /* line 63, _home.scss */
    #indexSummary > .howItWorks .arrowRight.yellow {
      border-left-color: #fcd31c; }
    /* line 67, _home.scss */
    #indexSummary > .howItWorks .arrowRight.green {
      border-left-color: #3dd861; }
  /* line 72, _home.scss */
  #indexSummary > .howItWorks:nth-child(1), #indexSummary > .howItWorks:nth-child(2) {
    border-right: 1px solid rgba(44, 48, 52, 0.05); }
  /* line 77, _home.scss */
  #indexSummary > .howItWorks:nth-child(1) > h3 {
    color: #3dd861; }
  /* line 81, _home.scss */
  #indexSummary > .howItWorks:nth-child(2) > h3 {
    color: #fcd31c; }
  /* line 85, _home.scss */
  #indexSummary > .howItWorks:nth-child(3) > h3 {
    color: #f7253e; }

/* line 90, _home.scss */
.sponsors {
  margin: 0;
  padding: 0; }
  /* line 94, _home.scss */
  .sponsors div ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    opacity: .4; }
    /* line 100, _home.scss */
    .sponsors div ul:hover {
      opacity: 1; }
    /* line 103, _home.scss */
    .sponsors div ul li {
      display: inline;
      overflow: hidden; }
      /* line 106, _home.scss */
      .sponsors div ul li:last-child {
        border: none; }
      /* line 109, _home.scss */
      .sponsors div ul li img {
        max-width: 100%; }

/* line 1, modals/_login.scss */
.modal {
  padding-top: 8%; }

/* line 4, modals/_login.scss */
.modal-content {
  border: 3px solid #fcd31c;
  background-color: #2c3034;
  color: #fcd31c;
  text-align: center;
  padding: 2%;
  border-radius: 30px;
  box-shadow: 0 0 0 99999px rgba(44, 48, 52, 0.85); }
  /* line 12, modals/_login.scss */
  .modal-content .modal-header {
    border: none;
    padding: 0; }
    /* line 15, modals/_login.scss */
    .modal-content .modal-header .modalTitle {
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 70px; }
    /* line 20, modals/_login.scss */
    .modal-content .modal-header .modalSubtitle {
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 25px;
      color: white;
      margin-top: -20px; }
    /* line 27, modals/_login.scss */
    .modal-content .modal-header .close-modal {
      color: rgba(255, 255, 255, 0.2);
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: lighter;
      float: right;
      position: absolute;
      padding: 10px;
      top: 10px;
      right: 15px;
      cursor: pointer; }
    /* line 40, modals/_login.scss */
    .modal-content .modal-header .close-modal:hover {
      color: #fcd31c; }
  /* line 44, modals/_login.scss */
  .modal-content .modal-body {
    padding: 0; }
    /* line 46, modals/_login.scss */
    .modal-content .modal-body p {
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 30px;
      color: white;
      margin-top: -20px; }
    /* line 53, modals/_login.scss */
    .modal-content .modal-body .btn-group {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      color: #fcd31c;
      width: 60%;
      margin: 15px auto;
      box-shadow: none;
      border-radius: 10px; }
      /* line 62, modals/_login.scss */
      .modal-content .modal-body .btn-group .widebtn {
        width: 50%; }
      /* line 65, modals/_login.scss */
      .modal-content .modal-body .btn-group li {
        width: 33%;
        display: inline;
        background: transparent;
        font-family: "Bebas Neue", "Khand", sans-serif;
        text-transform: uppercase;
        font-size: 35px;
        padding: 10px 0 2px 0;
        border: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px; }
        /* line 75, modals/_login.scss */
        .modal-content .modal-body .btn-group li:hover, .modal-content .modal-body .btn-group li:focus, .modal-content .modal-body .btn-group li:active {
          border-color: #fcd31c;
          color: #fcd31c; }
      /* line 82, modals/_login.scss */
      .modal-content .modal-body .btn-group li.facebook,
      .modal-content .modal-body .btn-group li.twitter,
      .modal-content .modal-body .btn-group li.google {
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        padding: 35px 0; }
    /* line 91, modals/_login.scss */
    .modal-content .modal-body .signUp,
    .modal-content .modal-body .signIn {
      color: #fcd31c;
      text-decoration: none; }
      /* line 95, modals/_login.scss */
      .modal-content .modal-body .signUp span,
      .modal-content .modal-body .signIn span {
        color: rgba(255, 255, 255, 0.2); }
  /* line 100, modals/_login.scss */
  .modal-content .modal-footer {
    border: none;
    padding: 0;
    margin: 20px auto 0 auto; }
    /* line 104, modals/_login.scss */
    .modal-content .modal-footer .btn-group-justified {
      width: 60%;
      margin: 0 auto; }
    /* line 108, modals/_login.scss */
    .modal-content .modal-footer button {
      background: transparent;
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 35px;
      padding: 10px 0 2px 0;
      border: 2px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px; }
      /* line 116, modals/_login.scss */
      .modal-content .modal-footer button:hover, .modal-content .modal-footer button:focus, .modal-content .modal-footer button:active, .modal-content .modal-footer button:visited {
        border-color: #fcd31c;
        color: #fcd31c; }
    /* line 124, modals/_login.scss */
    .modal-content .modal-footer p {
      color: rgba(255, 255, 255, 0.2);
      text-align: center; }
      /* line 127, modals/_login.scss */
      .modal-content .modal-footer p a {
        color: #fcd31c; }

/* line 1, partials/_rating.scss */
.rating {
  width: 250px;
  height: 55px;
  margin: 0 0 70px 0;
  background: rgba(44, 48, 52, 0.05); }
  /* line 6, partials/_rating.scss */
  .rating .ratingBarWrap {
    position: relative;
    width: 250px; }
    /* line 9, partials/_rating.scss */
    .rating .ratingBarWrap svg,
    .rating .ratingBarWrap div.ratingBar {
      position: absolute;
      top: 0;
      left: 0; }
    /* line 15, partials/_rating.scss */
    .rating .ratingBarWrap svg {
      pointer-events: none;
      position: relative;
      z-index: 2;
      margin: -1px 0 0 0;
      padding: 0;
      width: 252px;
      pointer-events: none; }
    /* line 24, partials/_rating.scss */
    .rating .ratingBarWrap input[type="radio"] {
      display: none; }
    /* line 27, partials/_rating.scss */
    .rating .ratingBarWrap .ratings {
      display: flex;
      direction: rtl; }
      /* line 30, partials/_rating.scss */
      .rating .ratingBarWrap .ratings .rate {
        width: 20%;
        height: 50px;
        margin: 0;
        float: left;
        position: relative;
        top: -56px;
        z-index: 1;
        cursor: pointer; }
        /* line 39, partials/_rating.scss */
        .rating .ratingBarWrap .ratings .rate:hover, .rating .ratingBarWrap .ratings .rate:hover ~ .rate {
          background: #2c3034; }
    /* line 44, partials/_rating.scss */
    .rating .ratingBarWrap .mobileRatings {
      display: none; }
      /* line 46, partials/_rating.scss */
      .rating .ratingBarWrap .mobileRatings .rate {
        width: 20%;
        height: 50px;
        margin: 0;
        float: left;
        position: relative;
        top: -56px;
        z-index: 1;
        cursor: pointer; }
    /* line 57, partials/_rating.scss */
    .rating .ratingBarWrap div.ratingBar {
      width: 250px;
      padding-top: 50px;
      margin-top: 1px; }
  /* line 63, partials/_rating.scss */
  .rating .ratingDisplay {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #2c3034;
    height: 0;
    position: relative;
    z-index: 3;
    top: -75px; }

/* line 78, partials/_rating.scss */
.dealCard .rating,
.dispensaryCard .rating,
.strainCard .rating {
  width: 100%;
  height: 16%;
  margin: -6% 0 0 0;
  position: absolute; }
  /* line 83, partials/_rating.scss */
  .dealCard .rating .ratingBarWrap,
  .dispensaryCard .rating .ratingBarWrap,
  .strainCard .rating .ratingBarWrap {
    width: 100%;
    height: 0; }
    /* line 89, partials/_rating.scss */
    .dealCard .rating .ratingBarWrap svg,
    .dispensaryCard .rating .ratingBarWrap svg,
    .strainCard .rating .ratingBarWrap svg {
      width: 101%;
      margin-left: -1px; }
    /* line 93, partials/_rating.scss */
    .dealCard .rating .ratingBarWrap .rate,
    .dispensaryCard .rating .ratingBarWrap .rate,
    .strainCard .rating .ratingBarWrap .rate {
      display: none; }
    /* line 96, partials/_rating.scss */
    .dealCard .rating .ratingBarWrap div.ratingBar,
    .dispensaryCard .rating .ratingBarWrap div.ratingBar,
    .strainCard .rating .ratingBarWrap div.ratingBar {
      width: 100%;
      height: 0;
      padding-top: 22%;
      margin-top: 1px;
      -webkit-transition: all .7s ease;
      -moz-transition: all .7s ease;
      -ms-transition: all .7s ease;
      -o-transition: all .7s ease;
      transition: all .7s ease; }
    /* line 108, partials/_rating.scss */
    .dealCard .rating .ratingBarWrap .ratings .rateThis,
    .dispensaryCard .rating .ratingBarWrap .ratings .rateThis,
    .strainCard .rating .ratingBarWrap .ratings .rateThis {
      display: none; }
  /* line 113, partials/_rating.scss */
  .dealCard .rating .ratingDisplay,
  .dispensaryCard .rating .ratingDisplay,
  .strainCard .rating .ratingDisplay {
    display: none; }
  /* line 116, partials/_rating.scss */
  .dealCard .rating .userRatingDisplay,
  .dispensaryCard .rating .userRatingDisplay,
  .strainCard .rating .userRatingDisplay {
    display: none; }

/* line 122, partials/_rating.scss */
.dispensaryRating .ratingBar {
  background-color: #f7253e; }

/* line 126, partials/_rating.scss */
.dealRating .ratingBar {
  background-color: #fcd31c; }

/* line 130, partials/_rating.scss */
.strainRating .ratingBar {
  background-color: #3dd861; }

/* Card Start */
/* line 2, partials/_cards.scss */
.dvCardList .disabled {
  display: none; }

/* line 6, partials/_cards.scss */
.cardWrapper {
  width: 100%;
  text-decoration: none;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer; }
  /* line 13, partials/_cards.scss */
  .cardWrapper .cardBg {
    width: 100%; }
  /* line 16, partials/_cards.scss */
  .cardWrapper .cardInfo {
    position: absolute;
    width: 80%;
    top: 0px;
    margin: 10% 10% 0 10%;
    padding: 0; }
  /* line 23, partials/_cards.scss */
  .cardWrapper .dispensaryLogo,
  .cardWrapper .dealImage,
  .cardWrapper .strainImage {
    border-radius: 20px;
    margin-bottom: 5%;
    width: 100%; }
    /* line 29, partials/_cards.scss */
    .cardWrapper .dispensaryLogo img,
    .cardWrapper .dealImage img,
    .cardWrapper .strainImage img {
      width: 100%;
      border-radius: 15px; }
  /* line 34, partials/_cards.scss */
  .cardWrapper .dispensaryName,
  .cardWrapper .dealTitle,
  .cardWrapper .strainName {
    font-family: "Bebas Neue", "Khand", sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    color: #2c3034;
    margin: 0;
    padding: 0;
    height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  /* line 50, partials/_cards.scss */
  .cardWrapper .dealTitle {
    height: 48px;
    line-height: 1.1; }
  /* line 54, partials/_cards.scss */
  .cardWrapper .dispensaryAddress,
  .cardWrapper .businessName,
  .cardWrapper .producedBy {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: .85em;
    font-style: normal;
    text-align: center;
    color: #BCBEC0;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  /* line 67, partials/_cards.scss */
  .cardWrapper .dispensaryAddress.line2,
  .cardWrapper .businessName.line2,
  .cardWrapper .producedBy.line2 {
    position: relative;
    z-index: 3; }
  /* line 73, partials/_cards.scss */
  .cardWrapper .dispensaryAddress.line1,
  .cardWrapper .producedBy.line1 {
    height: 18px;
    display: none; }
  /* line 78, partials/_cards.scss */
  .cardWrapper .dispensaryAddress.line2,
  .cardWrapper .producedBy.line2 {
    height: 26px; }
  /* line 82, partials/_cards.scss */
  .cardWrapper .businessName.line2 {
    height: 24px; }
  /* line 85, partials/_cards.scss */
  .cardWrapper .distanceAway,
  .cardWrapper .strainType {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;
    width: 100%;
    margin: 22% auto 0 auto;
    padding: 0;
    position: absolute;
    z-index: 3;
    text-align: center; }

/* line 100, partials/_cards.scss */
.dispensaryCard .distanceAway {
  color: #f7253e; }

/* line 105, partials/_cards.scss */
.dealCard .distanceAway {
  color: #fcd31c; }

/* line 110, partials/_cards.scss */
.strainCard .strainType {
  color: #3dd861; }

/* line 115, partials/_cards.scss */
.featured-dispensary-true,
.featured-deal-true,
.featured-strain-true,
.new-strain-true {
  position: absolute;
  top: 10%;
  left: -6.5%;
  pointer-events: none;
  width: 100%;
  height: 20%;
  background-repeat: no-repeat;
  background-size: contain; }

/* line 128, partials/_cards.scss */
.featured-dispensary-true {
  background-image: url(../img/banners/featured.png); }

/* line 131, partials/_cards.scss */
.featured-deal-true {
  left: -5.9%;
  background-image: url(../img/banners/dailyDeal.png); }

/* line 135, partials/_cards.scss */
.featured-strain-true {
  background-image: url(../img/banners/strainOfTheWeek.png); }

/* line 138, partials/_cards.scss */
.new-strain-true {
  top: 11.3%;
  left: -4%;
  background-image: url(../img/banners/new.png); }

/* Card End */
/* line 147, partials/_cards.scss */
.dvCardList {
  padding-left: 0;
  list-style-type: none; }
  /* line 151, partials/_cards.scss */
  .dvCardList > li {
    display: inline-block;
    padding: 1%; }

/**
 * Dakota's menu style
 */
/* line 5, partials/_menu.scss */
ul.nav.nav-tabs {
  height: 100%;
  border: none;
  /*  // @todo These will have to be applied dynamically, using Angular.  It may require extending Angular UI's tab directive.
    > li:nth-child(1) > a {
      background-image: url('../img/tabs/indica.png');
    }
  
    > li:nth-child(2) > a {
      background-image: url('../img/tabs/sativa.png');
    }
  
    > li:nth-child(3) > a {
      background-image: url('../img/tabs/hybrid.png');
    }
  
    > li:nth-child(4) > a {
      background-image: url('../img/tabs/preroll.png');
    }
  
    > li:nth-child(5) > a {
      background-image: url('../img/tabs/edible.png');
    }
  
    > li:nth-child(6) > a {
      background-image: url('../img/tabs/other.png');
    }
  */ }
  /* line 8, partials/_menu.scss */
  ul.nav.nav-tabs > li {
    padding: 0;
    float: left;
    opacity: .2;
    border: none;
    margin: 0 2px 0 0; }
    /* line 14, partials/_menu.scss */
    ul.nav.nav-tabs > li:last-child {
      margin: 0; }
    /* line 17, partials/_menu.scss */
    ul.nav.nav-tabs > li:hover {
      opacity: 1;
      border: none; }
  /* line 22, partials/_menu.scss */
  ul.nav.nav-tabs > li.active {
    opacity: 1;
    border: none;
    border-bottom: 1px solid #2c3034; }
  /* line 27, partials/_menu.scss */
  ul.nav.nav-tabs > li > a {
    margin: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: transparent;
    padding-top: 50%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border: none; }
    /* line 36, partials/_menu.scss */
    ul.nav.nav-tabs > li > a:hover, ul.nav.nav-tabs > li > a:active, ul.nav.nav-tabs > li > a:visited, ul.nav.nav-tabs > li > a:focus {
      color: transparent;
      border: none; }
  /* line 72, partials/_menu.scss */
  ul.nav.nav-tabs > li > a {
    background-image: inherit; }

/* line 77, partials/_menu.scss */
.menu {
  height: 100%;
  width: 100%;
  padding-bottom: 5%;
  float: left;
  background: #2c3034 !important; }
  /* line 83, partials/_menu.scss */
  .menu .menuItem {
    margin: 5% 5% 0 5%;
    border-radius: 20px;
    padding: 4% 4% 0 4%;
    width: 90%;
    float: left;
    font-family: "Open Sans", sans-serif;
    background-color: white;
    color: #2c3034;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3); }
    /* line 93, partials/_menu.scss */
    .menu .menuItem .itemName {
      margin: 0 0 10px 0;
      border-bottom: thin solid rgba(44, 48, 52, 0.15);
      padding: 0;
      width: 100%;
      float: left;
      font: normal "Bebas Neue", "Khand", sans-serif 35px; }
    /* line 101, partials/_menu.scss */
    .menu .menuItem .producerName {
      margin: 10px 0 0 0;
      padding: 0;
      float: right;
      font: 22px "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      color: rgba(44, 48, 52, 0.3); }
    /* line 109, partials/_menu.scss */
    .menu .menuItem .itemImage {
      margin-right: 10px;
      width: 30%;
      float: left; }
    /* line 114, partials/_menu.scss */
    .menu .menuItem .thcPotency,
    .menu .menuItem .cbdPotency {
      margin: 0px auto 0 auto;
      width: 27%;
      text-align: center;
      font-family: "Bebas Neue", "Khand", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: rgba(44, 48, 52, 0.3); }
      /* line 123, partials/_menu.scss */
      .menu .menuItem .thcPotency span,
      .menu .menuItem .cbdPotency span {
        font-size: 40px;
        color: #2c3034; }
    /* line 128, partials/_menu.scss */
    .menu .menuItem .itemDescription {
      margin: 1em auto;
      clear: both;
      float: left;
      font-size: 12px; }
    /* line 134, partials/_menu.scss */
    .menu .menuItem .pricing {
      margin: 0;
      border-top: thin solid rgba(44, 48, 52, 0.15);
      padding: 10px 0 0 0;
      width: 100%;
      clear: left; }
      /* line 140, partials/_menu.scss */
      .menu .menuItem .pricing li {
        border-right: thin solid rgba(44, 48, 52, 0.15);
        padding: 10px 0 5px 0;
        width: 20%;
        float: left;
        list-style: none;
        text-align: center;
        font: normal 25px/22px "Bebas Neue", "Khand", sans-serif;
        text-transform: uppercase;
        color: rgba(44, 48, 52, 0.2); }
        /* line 150, partials/_menu.scss */
        .menu .menuItem .pricing li .price {
          font-size: 28px;
          color: #2c3034; }
        /* line 154, partials/_menu.scss */
        .menu .menuItem .pricing li .unit {
          font-size: 18px;
          color: #2c3034; }
        /* line 158, partials/_menu.scss */
        .menu .menuItem .pricing li:last-child {
          border-right: none; }

/* line 33, style.scss */
body {
  position: relative;
  top: 100px; }

/* line 38, style.scss */
.container-fluid {
  padding: 0 2%;
  margin: 0; }

/* line 44, style.scss */
a:active, a:hover, a:visited {
  text-decoration: none; }

/* line 51, style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase; }

/* line 61, style.scss */
h3 {
  border-bottom: 1px solid rgba(44, 48, 52, 0.05);
  text-align: center;
  font-size: 30px; }

/* line 67, style.scss */
p {
  font-family: "Open Sans", sans-serif; }

/* line 71, style.scss */
ul {
  list-style: none;
  padding: 0; }

/* line 76, style.scss */
.pageTitle {
  margin-top: 0;
  border-bottom: 1px solid rgba(44, 48, 52, 0.05);
  text-align: center;
  font-family: "Bebas Neue", "Khand", sans-serif;
  text-transform: uppercase;
  font-size: 40px; }

/* line 85, style.scss */
.viewOnMap {
  text-transform: uppercase;
  font-weight: bold; }

/* line 90, style.scss */
form {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #2c3034; }
  /* line 94, style.scss */
  form .btn-block {
    font-family: "Bebas Neue", "Khand", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 5px 0 0 0;
    background: #2c3034; }
    /* line 101, style.scss */
    form .btn-block.dispensaryCMS:hover, form .btn-block.dispensaryCMS:active, form .btn-block.dispensaryCMS:focus, form .btn-block.dispensaryCMS:visited {
      background: #f7253e;
      color: white; }
    /* line 108, style.scss */
    form .btn-block.dealCMS:hover, form .btn-block.dealCMS:active, form .btn-block.dealCMS:focus, form .btn-block.dealCMS:visited {
      background: #fcd31c;
      color: white; }
    /* line 115, style.scss */
    form .btn-block.strainCMS:hover, form .btn-block.strainCMS:active, form .btn-block.strainCMS:focus, form .btn-block.strainCMS:visited {
      background: #3dd861;
      color: white; }

/* line 125, style.scss */
.brandassets {
  margin-top: -3%;
  list-style: none; }
  /* line 128, style.scss */
  .brandassets li {
    margin-bottom: 20px;
    text-align: center; }
    /* line 131, style.scss */
    .brandassets li h4 {
      font-size: 35px;
      margin-top: 30px;
      border-bottom: 3px solid; }
    /* line 136, style.scss */
    .brandassets li:nth-child(1) {
      color: #3dd861; }
    /* line 139, style.scss */
    .brandassets li:nth-child(2) {
      color: #fcd31c; }
    /* line 142, style.scss */
    .brandassets li:nth-child(3) {
      color: #f7253e; }
    /* line 145, style.scss */
    .brandassets li:nth-child(4) {
      color: #2c3034; }
    /* line 149, style.scss */
    .brandassets li a img {
      width: 100%; }

/*# sourceMappingURL=style.css.map */
