@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas_neue/bebasneue_regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bebas_neue/bebasneue_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/bebas_neue/bebasneue_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bebas_neue/bebasneue_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/bebas_neue/bebasneue_regular-webfont.svg') format('svg'); /* Legacy iOS */
}

@import 'variables';

@import 'items';

@import 'layout/navbar';
@import 'layout/menuMobile';
@import 'layout/footer';

@import '470px';
@import '767px';
@import '980px';

@import 'home';

@import 'modals/login';

@import 'partials/rating';
@import 'partials/cards';
@import 'partials/menu';

//@import 'signup/signup';
//@import 'signup/thanks';

body {
  position: relative;
  top: 100px;
  font-family: $dvTextFont;
}

#strainsList,
#concentratesList,
#ediblesList,
#dispensariesList {
  min-height: 400px;
}

.container-fluid {
  padding: 0 2%;
  margin: 0;
}

a {
  &:active,
  &:hover,
  &:visited {
    text-decoration: none;
  }
}
.authenticateButtons {
  float: left;
}
.button {
  font-family: $dvTextFont;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  border: 3px solid $dvYellow;
  border-radius: 20px;
  padding: 10px 20px;
  background: none;
  float: left;
  &:hover {
    background: $dvYellow;
    color: white;
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $dvTextFont;
  text-transform: uppercase;
}

h3 {
  border-bottom: 1px solid $dvGray5;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
}
h4 {
  font-size: 16px;
  margin-bottom: 0;
}

p {
  font-family: $dvTextFont;
  font-size: 12px;
  a {
    font-weight: bold;
    color: $dvGreen;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.pageTitle {
  margin-top: 0;
  padding: 0 0 10px 0;
  border-bottom: 1px solid $dvGray5;
  text-align: center;
  color: $dvGray20;
  letter-spacing: 1px;
  font-family: $dvTextFont;
  text-transform: uppercase;
  font-size: 24px;
}
.hidePageTitle {
  display: none;
}

form {
  font-family: $dvTextFont;
  font-size: 12px;
  color: $dvGray;
  .btn-block {
    font-family: $dvHeaderFont;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 5px 0 0 0;
    background: $dvGray;
    &.dispensaryCMS:hover,
    &.dispensaryCMS:active,
    &.dispensaryCMS:focus,
    &.dispensaryCMS:visited {
      background: $dvRed;
      color: white;
    }
    &.dealCMS:hover,
    &.dealCMS:active,
    &.dealCMS:focus,
    &.dealCMS:visited {
      background: $dvYellow;
      color: white;
    }
    &.strainCMS:hover,
    &.strainCMS:active,
    &.strainCMS:focus,
    &.strainCMS:visited {
      background: $dvGreen;
      color: white;
    }
  }
  .button {
    font-family: $dvTextFont;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
    border: 3px solid $dvYellow;
    border-radius: 20px;
    padding: 10px 20px;
    background: none;
    &:hover {
      background: $dvYellow;
      color: white;
      cursor: pointer;
    }
  }
}

.rhastaBars {
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  li {
    display: inline;
    margin: 0;
    padding: 0;
    height: 6px;
    float: left;
    position: relative;
  }
  .rhastaGreen {
    background: $dvGreen;
  } 
  .rhastaYellow {
    background: $dvYellow;
  }
  .rhastaRed {
    background: $dvRed;
  }
}

label {
  color: rgba(44,48,52,.3);
  margin-bottom: 5px;
  padding-bottom: 0;
  text-transform: uppercase;
  i {
    float: left;
    margin-left: -15px;
  }
  span {
    float: left;
    padding-top: 3px;
    margin-left: 5px;
  }
}

.searchWrapper {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  input {
    border: none;
    border-bottom: 1px solid $dvGray;
    font-size: 34px;
    font-weight: 300;
    margin: 10px 0 15px 0;
  }
  .searchResults {
    color: white;
    font-family: $dvTextFont;
    h5 {
      color: $dvGray20;
      letter-spacing: 1px;
      font-size: 15px;
    }
    ul {
      width: 20%;
      padding: 5px;
      li {
        display: block;
        width: 100%;
        cursor: pointer;
        float: left;
        margin: 5px 0;
        &:hover {
          background: $dvGray5;
        }
        img {
          width: 26%;
          margin-right: 4%;
          float: left;
        }
        h6 {
          width: 65%;
          color: $dvGray;
          font-size: 11px;
          margin: 3px 0 0 0;
          float: left;
        }
        p {
          width: 65%;
          color: $dvGray30;
          font-size: 11px;
          float: left;
        }
      }
    }
  }
}

.faqQuestion {
  font-family: $dvTextFont;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: $dvGray;
  margin: 20px 0 5px 0;
  a {
    color: $dvGreen;
  }
}

.brandassets {
  margin-top: -3%;
  list-style: none;
  li {
    margin-bottom: 20px;
    text-align: center;
    h4 {
      font-size: 35px;
      margin-top: 30px;
      border-bottom: 3px solid;
    }
    &:nth-child(1) {
      color: $dvGreen;
    }
    &:nth-child(2) {
      color: $dvYellow;
    }
    &:nth-child(3) {
      color: $dvRed;
    }
    &:nth-child(4) {
      color: $dvGray;
    }
    a {
      img {
        width: 100%;
      }
    }
  }
}
 
.stateYourLovePageHeader {
  margin-bottom: 20px;
  h3 {
    border-bottom: none;
    font-family: $dvTextFont;
    text-transform: none;
  }
  img {

  }
}
.stateYourLove {
  li {
    img {
      width: 100%;
    }
    label {
      font-family: $dvHeaderFont;
      color: $dvGray;
      font-size: 16px;
      text-align: center;
      margin-bottom: 15px;
      width: 100%;
    }
  }
}
