.ratingWrap
    //- .progress-wrap.progress(data-progress-percent='({{ getAvgRating(ratings) }} * 100) / 5')
    .progress-wrap.progress(ng-style="{ 'width': ( getAvgRating(ratings) * 100 ) / 5 + '%' }")
        .progress-bar.progress
//-
    .rating(ng-show='ratings')
        .ratingBarWrap
            img(style='z-index: 1;', src='img/buds/budBoxWhite.png')
            //- @todo Allow for the dimensions of .ratingBar to vary.
            .ratingBar(ng-style="{ 'width': ( getAvgRating(ratings) / 5 ) * 100 + '%' }")
        p Rated #[strong#avgRating {{ getAvgRating(ratings) }}] / 5.0 by #[strong#ratingsCount {{ getRatingsCount(ratings) }}] users.