.row
    .col-md-6
        .row
            .col-md-3
                img.dispensaryLogo(ng-src='{{ dispensary.picture }}')
            .col-md-9
                h2.dispensaryName {{ dispensary.name }}
                address.dispensaryAddress
                    | {{ dispensary.location.street }}#[br]
                    | {{ dispensary.location.city }}, {{ dispensary.location.state }} {{ dispensary.location.zip }}
                //- @todo Write a dv-view-on-map directive.
                    dv-view-on-map(position='dispensary.location.coordinates')
                div: a.viewOnMap(ng-click=''): | View On Map
        dv-rating.dispensaryRating(ratings='dispensary.ratings')
        .contactInfo
            .dispensaryWebsite(ng-show='dispensary.website')
                img(src='img/icons/web.png')
                a(href='{{ dispensary.website }}') {{ dispensary.website }}
            .dispensaryEmail(ng-show='dispensary.email')
                img(src='img/icons/email.png')
                a(href='mailto:{{ dispensary.email }}') {{ dispensary.email }}
            .dispensaryPhone(ng-show='dispensary.phone')
                img(src='img/icons/phone.png')
                a(href='tel:{{ dispensary.phone }}') {{ dispensary.phone }}
        //- @todo Add and style a dvHeader class.
        h3 Menu
        dv-menu(dispensary-id='{{ dispensary.$id }}')
    .col-md-6
        img.img-responsive.dispensaryGallery(src='http://placehold.it/600x600')
        h3 Deals
        //- @todo dv-card-list(item-type='deal', items='dispensary.deals')
        ul.dvCardList
            li.col-md-6(ng-repeat='(dealIndex, deal) in dispensary.deals')
                dv-card(item-type='deal', item-id='{{ dealIndex }}')
        h3 Hours
        table.dispensaryHours(ng-show='dispensary.hours')
            tr(ng-repeat="day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']", ng-class="{'dvGreen': today === day}")
                td {{ day | uppercase }}
                td {{ dispensary['hours'][day].open }} &ndash; {{ dispensary['hours'][day].close }}
        h3 Reviews
.row
    .col-md-12
        h3 Other Dispensaries
        //- @todo dv-card-list(item-type='dispensary', items='otherDispensaries')
        ul.dvCardList
            li.col-md-3(ng-repeat='dispensary in otherDispensaries')
                dv-card(item-type='dispensary', item-id='{{ dispensary.$id }}')