<h2 class="pageTitle" title="dispensaries">Dispensary</h2>
<div class="pageId" title="{{ dispensary.$id }}"></div>
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 dispensaryGalleryWrap">
		      <img src="{{ dispensary.image }}" class="img-responsive dispensaryGalleryMobile"/>
		    </div>
			<div class="col-md-3 col-sm-2 col-xs-4 dispensaryLogoWrap">
				<img ng-src="{{ dispensary.logo }}" class="dispensaryLogo"/>
			</div>
			<div class="col-md-9">
				<h2 class="dispensaryName">{{ dispensary.name }}</h2>
				<address class="dispensaryAddress">{{ dispensary.location.street }}<br/>{{ dispensary.location.city }}, {{ dispensary.location.state }} {{ dispensary.location.zip }}</address>
				<div>
					<a href="https://www.google.com.au/maps/preview/@{{ dispensary.geoX }},{{ dispensary.geoY }},17z" target="_blank"class="viewOnMap">View On Map</a>
				</div>
			</div>
		</div>
		<dv-rating ratings="dispensary.ratings" class="dispensaryRating"></dv-rating>
		<!-- <dv-distance distance="dispensary.distance" class="dispensaryDistance"></dv-distance> -->
		<p><strong>{{ distanceToDispensary }}</strong> miles away.</p>
		<p ng-show="dispensary.ratings[currentName]" class="userRatingDisplay">You rated this dispensary a <strong id="userRating">{{ dispensary.ratings[currentName] }}</strong>.</p>
		<div class="contactInfo">
			<div ng-show="dispensary.website" class="dispensaryWebsite">
				<img src="img/icons/web.png"/>
				<a href="{{ dispensary.website }}">{{ dispensary.website }}</a>
			</div>
			<div ng-show="dispensary.email" class="dispensaryEmail">
				<img src="img/icons/email.png"/>
				<a href="mailto:{{ dispensary.email }}">{{ dispensary.email }}</a>
			</div>
			<div ng-show="dispensary.phone" class="dispensaryPhone">
				<img src="img/icons/phone.png"/>
				<a href="tel:{{ dispensary.phone }}">{{ dispensary.phone }}</a>
			</div>
		</div>

		<h3>Current Menu</h3>
		<dv-menu dispensary-id="{{ dispensary.$id }}"></dv-menu>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div>
			<img src="{{ dispensary.image }}" class="dispensaryGallery" />
		</div>	
	</div>
	<div class="currentDeals col-md-6 col-sm-6 col-xs-12">
		<h3>Current Deals</h3>
		<ul class="dvCardList">
			<li ng-repeat="(dealIndex, deal) in dispensary.deals" class="col-md-6">
				<dv-card item-type="deal" item-id="{{ dealIndex }}"></dv-card>
			</li>
		</ul>
	</div>
	<div class="currentHours col-md-6 col-sm-6 col-xs-12">
		<h3>Hours of Operation</h3>
		<table ng-show="dispensary.hours" class="dispensaryHours">
			<tr ng-repeat="day in ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']" ng-class="{'dvGreen': today === day}">
				<td>{{ day | uppercase }}</td>
				<td>{{ dispensary['hours'][day].open }} &ndash; {{ dispensary['hours'][day].close }}</td>
			</tr>
		</table>
	</div>
	<div class="col-md-6 col-sm-6 col-xs-12">
	    <h3>{{ getReviewsCount(reviews) }} Reviews</h3>
	    <section class="reviews" ng-reviews data="{{ dispensary.name }}" ng-controller="reviewsCtrl">
	      <h4 class="pleaseSignIn">Please <a ng-click="showLoginModal()">sign in</a> to drop a review.</h4>
	      <div class="leaveReview col-md-12 col-sm-12 col-xs-12" ng-show="currentUser">
	        <div class="avatarWrap">
	          <img class="avatar" ng-src="{{ currentAvatar }}" title="{{ currentAvatar }}"/>
	          <h4 class="reviewBanner">Try this dispensary lately? <a class="closeReviewBanner"> X </a></h4>
	        </div>
	        <div class='name' title="{{ currentName }}"></div>
	        <textarea type='text' id='reviewInput' placeholder='Drop a review...'></textarea>
	        <input ng-click="sendReview" type='submit' id='submitReview' value='DROP IT LIKE IT&rsquo;S HOT' class="pull-right">
	      </div>
	      <div id='reviewsDiv' class="col-md-12 col-sm-12 col-xs-12"></div>
	    </section>
	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>More Dispensaries</h3>
    <ul class="dvCardList">
      <li ng-repeat="dispensary in featuredDispensaries" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ dispensary.disabled }}">
        <dv-card item-type="dispensary" item-id="{{ dispensary.$id }}"></dv-card>
      </li>
      <li ng-repeat="dispensary in otherDispensaries" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ dispensary.disabled }}">
        <dv-card item-type="dispensary" item-id="{{ dispensary.$id }}"></dv-card>
      </li>
    </ul>
  </div>
</div>




