.cardWrapper.dispensaryCard(ui-sref='root.dispensaryDetails({ dispensaryId: dispensary.$id })')
    img.cardBg(src='http://deviine.com/deviine/beta/img/Dispensary_Card_Blank.png')
    .cardInfo
        .dispensaryLogo.bw
        .topSection
            h1.dispensaryName {{ dispensary.name }}
            address.dispensaryAddress.line1 {{ dispensary.location.street }}
            address.dispensaryAddress.line2 {{ dispensary.location.city }}, {{ dispensary.location.state }} {{ dispensary.location.zip }}
        dv-rating.dispensaryRating(ratings='dispensary.ratings')
        //-
            .ratingWrap
                .progress-wrap.progress(data-progress-percent='4')
                    .progress-bar.progress
        img.budBox(src='http://deviine.com/deviine/beta/img/BudBox.png')
        h4.distanceAway 14 MILES AWAY
//-
    .dvCard.dispensaryCard
        a(ui-sref='root.dispensaryDetails({ dispensaryId: dispensary.$id })'): img.img-responsive.dvCardPicture(src='http://placehold.it/200x200')
        h3.dispensaryName {{ dispensary.name }}
        address
            | {{ dispensary.location.street }}#[br]
            | {{ dispensary.location.city }}, {{ dispensary.location.state }} {{ dispensary.location.zip }}
        dv-rating.dispensaryRating(ratings='dispensary.ratings')
        .distance
            //- @todo Pull the distance dynamically.
                p #[strong#distance {{ getDistanceTo(dispensary.location.coordinates) }}] miles away.
            p #[strong#distance 0.0] miles away.