<div ui-sref="root.edibleDetails({ edibleId: edible.$id })" class="cardWrapper edibleCard">
	<img src="img/cards/edibleCard.png" class="cardBg"/>
	<div class="cardInfo">
		<div class="edibleImage">
			<img src="{{ edible.cardimage }}"/>
		</div>
		<div class="topSection">
			<h1 class="edibleName">{{ edible.name }}</h1>
			<address class="processedBy line2">{{ edible.processed }}</address>
		</div>
		<dv-rating ratings="edible.ratings" class="edibleRating"></dv-rating>
		<h4 class="edibleType">{{ edible.chemistry }}</h4>
	</div>
	<div class="featured-edible-{{ edible.featured }}"></div>
</div>