<h1 class="pageTitle">Business Dashboard</h1>
<form class="updateBusinessForm">

	<fieldset class="col-lg-6">
	    <label for="username" class="col-lg-12"><i class="material-icons">call</i> <span>USERNAME</span></label>
	    <input type="text" name="username" value="Louis W" class="username col-lg-12" />
	    <label for="location" class="col-lg-12"><i class="material-icons">location_on</i> <span>LOCATION</span></label>
	    <input type="text" name="location" value="Spokane, WA" class="location col-lg-12" />
	    <label for="bio" class="col-lg-12"><i class="material-icons">format_align_left</i> <span>BIO</span></label>
	    <textarea class="bio col-lg-12" name="bio">We are a local, family operated farm that produces many delicious, fun strains such as Kandy Kush, Gigabud, and White Lavender; along with some of the classics such as Sage and Northern Lights.  We're also producing high potency Bubble Hash and Shatter for our concentrate fans!</textarea>
	    <label for="phone" class="col-lg-12"><i class="material-icons">call</i> <span>PHONE</span></label>
	    <input type="text" name="phone" value="(509) 555-1234" class="phone col-lg-12" />
	    <label for="email" class="col-lg-12"><i class="material-icons">mail</i> <span>EMAIL</span></label>
	    <input type="text" name="email" value="fake@stash.reviews" class="email col-lg-12" />
	    <label for="website" class="col-lg-12"><i class="material-icons">language</i> <span>WEBSITE</span></label>
	    <input type="text" name="website" value="www.stash.reviews" class="website col-lg-12" />
	</fieldset>

	<fieldset class="col-lg-6">
	    <label for="logo" class="col-lg-12"><i class="material-icons">check_circle</i> <span>LOGO</span></label>
	    <img src="http://stashreviews.github.io/testing/img/logos/louisw_logo.png" name="logo" class="logo col-lg-4"/>
	    <label class="uploadLogoBtn col-lg-4" for="uploadLogo">
	        <span><i class="material-icons">sync</i><br>Replace Logo</span>
	        <input type="file" id="uploadLogo" class="uploadLogo"/>
	    </label>
	    <br>
	    <label for="image" class="col-lg-12"><i class="material-icons">image</i> <span>IMAGES</span></label>
	    <div class="imageWrap col-lg-4">
	    	<img src="http://www.placecage.com/200/300" name="image" class="image"/>
	    	<a class="deleteImage"><i class="material-icons">close</i></a>
	    </div>
	   	<div class="imageWrap col-lg-4">
	    	<img src="http://www.placecage.com/300/200" name="image" class="image"/>
	    	<a class="deleteImage"><i class="material-icons">close</i></a>
	    </div>
	    <div class="imageWrap col-lg-4">
	    	<img src="http://www.placecage.com/600/520" name="image" class="image"/>
	    	<a class="deleteImage"><i class="material-icons">close</i></a>
	    </div>
	    <div class="imageWrap col-lg-4">
	    	<img src="http://www.placecage.com/500/350" name="image" class="image"/>
	    	<a class="deleteImage"><i class="material-icons">close</i></a>
	    </div>
	    <label class="uploadImageBtn col-lg-4" for="uploadImage">
	        <span><i class="material-icons">add_to_photos</i><br>Add A Strain</span>
	    </label>
	</fieldset>

</form>

<!-- This is what it should be like -->
<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  	<tabset class="products">
		<tab heading="Strains (9)">
			<ul class="dvCardList">
				<div><li ng-repeat="strain in strains" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ strain.disabled }}">
					<dv-card item-type="strain" item-id="{{ strain.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
		<tab heading="Concentrates (2)">
			<ul class="dvCardList">
				<div><li ng-repeat="concentrate in concentrates" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ concentrate.disabled }}">
					<dv-card item-type="concentrate" item-id="{{ concentrate.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
		<tab heading="Edibles (0)">
			<ul class="dvCardList">
				<div><li ng-repeat="edible in edibles" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ edible.disabled }}">
					<dv-card item-type="edible" item-id="{{ edible.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
	</tabset>
</div> -->

<!-- This is a static png -->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  	<tabset class="products">
		<tab heading="Strains (8)">
			<img id="staticExample" src="img/BusinessCMS_PageCards.jpg"/>
		</tab>
		<tab heading="Concentrates (2)">
			<ul class="dvCardList">
				<div><li ng-repeat="concentrate in concentrates" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ concentrate.disabled }}">
					<dv-card item-type="concentrate" item-id="{{ concentrate.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
		<tab heading="Edibles (0)">
			<ul class="dvCardList">
				<div><li ng-repeat="edible in edibles" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ edible.disabled }}">
					<dv-card item-type="edible" item-id="{{ edible.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
	</tabset>
</div>

