//- img.img-responsive(src='img/logo.png')
h1.pageTitle Manage Dispensaries
form.form-horizontal
    .form-group
        label.col-md-2.control-label(for='dispensaryId') Dispensary:
        .col-md-8
            select.form-control(ng-model='dispensaryId', name='dispensaryId', ng-options='id as dispensary.name for (id, dispensary) in dispensaries', ng-change='loadDispensary(dispensaryId)')
        .col-md-2
            button.btn.btn-block(ng-click='newDispensary()') New Dispensary
form.form-horizontal
    .form-group(ng-hide='dispensary.$id')
        label.col-md-2.control-label(for='dispensaryId') Dispensary ID:
        .col-md-10
            input.form-control(ng-model='dispensaryId', type='text', name='dispensaryId')
    fieldset
        legend Address
        .form-group
            label.col-md-2.control-label(for='dispensaryName') Name:
            .col-md-10
                input.form-control(ng-model='dispensary.name', type='text', name='dispensaryName', value='{{ dispensary.name }}')
        .form-group
            label.col-md-2.control-label(for='dispensaryStreet') Street address:
            .col-md-10
                input.form-control(ng-model='dispensary.location.street', type='text', name='dispensaryStreet')
        .form-group
            label.col-md-2.control-label(for='dispensaryCity') City:
            .col-md-4
                input.form-control(ng-model='dispensary.location.city', type='text', name='dispensaryCity')
            label.col-md-1.control-label(for='dispensaryState') State:
            .col-md-2
                input.form-control(ng-model='dispensary.location.state', type='text', name='dispensaryState')
            label.col-md-1.control-label(for='dispensaryZip') Zip:
            .col-md-2
                input.form-control(ng-model='dispensary.location.zip', type='text', name='dispensaryZip')
    fieldset
        legend Contact
        .form-group
            label.col-md-2.control-label(for='dispensaryWebsite') Website
            .col-md-10
                input.form-control(ng-model='dispensary.website', type='text', name='dispensaryWebsite')
        .form-group
            label.col-md-2.control-label(for='dispensaryEmail') Email:
            .col-md-10
                input.form-control(ng-model='dispensary.email', type='email', name='dispensaryEmail')
        .form-group
            label.col-md-2.control-label(for='dispensaryPhone') Phone:
            .col-md-10
                input.form-control(ng-model='dispensary.phone', type='text', name='dispensaryPhone')
    fieldset
        legend Hours
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursMonday') Monday
            .col-md-5
                //- @todo minute-step='30'
                timepicker(ng-model='dispensary.hours.Monday.open', name='dispensaryHoursMondayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Monday.close', name='dispensaryHoursMondayClose')
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursTuesday') Tuesday
            .col-md-5
                timepicker(ng-model='dispensary.hours.Tuesday.open', name='dispensaryHoursTuesdayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Tuesday.close', name='dispensaryHoursTuesdayClose')
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursWednesday') Wednesday
            .col-md-5
                timepicker(ng-model='dispensary.hours.Wednesday.open', name='dispensaryHoursWednesdayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Wednesday.close', name='dispensaryHoursWednesdayClose')
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursThursday') Thursday
            .col-md-5
                timepicker(ng-model='dispensary.hours.Thursday.open', name='dispensaryHoursThursdayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Thursday.close', name='dispensaryHoursThursdayClose')
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursFriday') Friday
            .col-md-5
                timepicker(ng-model='dispensary.hours.Friday.open', name='dispensaryHoursFridayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Friday.close', name='dispensaryHoursFridayClose')
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursSaturday') Saturday
            .col-md-5
                timepicker(ng-model='dispensary.hours.Saturday.open', name='dispensaryHoursSaturdayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Saturday.close', name='dispensaryHoursSaturdayClose')
        .form-group
            label.col-md-2.control-label(for='dispensaryHoursSunday') Sunday
            .col-md-5
                timepicker(ng-model='dispensary.hours.Sunday.open', name='dispensaryHoursSundayOpen')
            .col-md-5
                timepicker(ng-model='dispensary.hours.Sunday.close', name='dispensaryHoursSundayClose')

    //- @todo Allow dispensaries to upload images.
        fieldset
            legend Images
            .form-group
                label.col-md-2.control-label(for='dispensaryLogo') Logo
                .col-md-10
                    input.form-control(ng-model='dispensary.images.logo', type='file')
            .form-group
                label.col-md-2.control-label(for='dispensaryImage') Image
                .col-md-10
                    input.form-control(ng-model='dispensary.images.image', type='file')
    //- @todo Allow dispensaries to update their menus.
    fieldset
        legend Menu
        //- @todo Display existing menu using ng-repeat.
        table.table(ng-repeat='productType in dispensary.menu')
            tr(ng-repeat='product in productType')
                td {{ product.name }}
                td {{ product.type }}
                td {{ product.description }}
        .form-group
            label.col-md-2.control-label(for='productType') Type
            .col-md-10
                select.form-control(ng-model='productType', ng-options='type for type in ["indica", "sativa", "hybrid", "edibles", "preroll", "other"]')
        .form-group
            label.col-md-2.control-label(for='productName') Item name:
            .col-md-10
                input.form-control(ng-model='product.name', type='text', name='productName')
        .form-group
            label.col-md-2.control-label(for='productDescription') Description
            .col-md-10
                textarea.form-control(ng-model='product.description', name='productDescription')
        .form-group
            label.col-md-2.control-label(for='productTHC') THC potency:
            .col-md-4
                input.form-control(ng-model='product.chemistry.percentageTHC', type='text', name='productTHC')
            label.col-md-2.control-label(for='productCBD') CBD potency:
            .col-md-4
                input.form-control(ng-model='product.chemistry.percentageCBD', type='text', name='productCBD')
        .form-group
            label.col-md-2.control-label(for='productCBD') Price:
            .col-md-4
                input.form-control(ng-model='product.priceByAmount', type='text', name='productPrice')
            label.col-md-2.control-label(for='productPrice') Amount:
            .col-md-3
                input.form-control(ng-model='product.priceByAmount', type='text', name='productAmount')
            .col-md-1
                //- @todo Add support for configuring default units.
                select.form-control(ng-model='product.priceByAmount')
                    option(value='g') g
                    option(value='oz') oz
    button.btn.btn-block(ng-click='saveDispensary(dispensaryId, dispensary)') Save