<h1 class="pageTitle">Manage Edibles</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label for="edibleId" class="col-md-2 control-label">Select edible:</label>
		<div class="col-md-8">
			<select ng-model="edibleId" name="edibleId" ng-options="id as edible.name for (id, edible) in edibles" ng-change="loadEdible(edibleId)" class="form-control"></select>
		</div>
		<div class="col-md-2">
			<button ng-click="newEdible()" class="btn btn-block edibleCMS">New Edible</button>
		</div>
	</div>
	<div ng-hide="edible.$id" class="form-group">
		<label for="edibleId" class="col-md-2 control-label">Edible ID:</label>
		<div class="col-md-10">
			<input ng-model="edibleId" type="text" name="edibleId" class="form-control"/>
		</div>
	</div>
	<fieldset>
		<legend>Description</legend>
		<div class="form-group">
			<label for="edibleName" class="col-md-2 control-label">Name:</label>
			<div class="col-md-10">
				<input ng-model="edible.name" type="text" name="edibleName" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="edibleProcessor" class="col-md-2 control-label">Processor:</label>
			<div class="col-md-10">
				<input ng-model="edible.processor" type="text" name="edibleProcessor" class="form-control" required/></div>
			</div>
			<div class="form-group">
				<label for="edibleDescription" class="col-md-2 control-label">Description:</label>
				<div class="col-md-10">
					<textarea ng-model="edible.description" name="edibleDescription" class="form-control"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label for="edibleType" class="col-md-2 control-label">Type:</label>
				<div class="col-md-10">
					<select ng-model="edible.type" name="edibleType" class="form-control" ng-options="type for type in types"></select>
				</div>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Potency</legend>
		<div class="form-group">
			<label for="edibleTHCamountPerPiece" class="col-md-2 control-label">Amount Per Piece:</label>
			<div class="col-md-9">
				<input ng-model="edible.edibleTHC.amountPerPiece" name="edibleTHCamountPerPiece" type="text" class="form-control"/>
			</div>
			<div class="col-md-1">
				<select ng-model="edible.edibleTHC.unitPerPiece" class="form-control">
					<option value="mg">mg</option>
				</select>
			</div>
			<label for="edibleTHCamountPerServing" class="col-md-2 control-label">Amount Per Serving:</label>
			<div class="col-md-9">
				<input ng-model="edible.edibleTHC.amountPerServing" name="edibleTHCamountPerServing" type="text" class="form-control"/>
			</div>
			<div class="col-md-1">
				<select ng-model="edible.edibleTHC.unitPerServing" class="form-control">
					<option value="mg">mg</option>
				</select>
			</div>
			<label for="edibleTHCamountPerPackage" class="col-md-2 control-label">Amount Per Package:</label>
			<div class="col-md-9">
				<input ng-model="edible.edibleTHC.amountPerPackage" name="edibleTHCamountPerPackage" type="text" class="form-control"/>
			</div>
			<div class="col-md-1">
				<select ng-model="edible.edibleTHC.unitPerPackage" class="form-control">
					<option value="mg">mg</option>
				</select>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Profile</legend>
		<div class="form-group">
			<label for="edibleFlavor1" class="col-md-2 control-label">Flavor profile 1:</label>
			<div class="col-md-8">
				<input ng-model="edible.flavor1" name="edibleFlavor1" class="form-control"></input>
			</div>
			<label for="edibleFlavor1%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.flavor1Percent" type="text" name="edibleFlavor1%" class="form-control"/>
			</div>
			<label for="edibleFlavor2" class="col-md-2 control-label">Flavor profile 2:</label>
			<div class="col-md-8">
				<input ng-model="edible.flavor2" name="edibleFlavor2" class="form-control"></input>
			</div>
			<label for="edibleFlavor2%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.flavor2Percent" type="text" name="edibleFlavor2%" class="form-control"/>
			</div>
			<label for="edibleFlavor3" class="col-md-2 control-label">Flavor profile 3:</label>
			<div class="col-md-8">
				<input ng-model="edible.flavor3" name="edibleFlavor3" class="form-control"></input>
			</div>
			<label for="edibleFlavor3%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.flavor3Percent" type="text" name="edibleFlavor3%" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="ediblePositive1" class="col-md-2 control-label">Positive effect 1:</label>
			<div class="col-md-8">
				<input ng-model="edible.positive1" name="ediblePositive1" class="form-control"></input>
			</div>
			<label for="ediblePositive1" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.positive1Percent" type="text" name="ediblePositive1%" class="form-control"/>
			</div>
			<label for="ediblePositive2" class="col-md-2 control-label">Positive effect 2:</label>
			<div class="col-md-8">
				<input ng-model="edible.positive2" name="ediblePositive2" class="form-control"></input>
			</div>
			<label for="ediblePositive2%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.positive2Percent" type="text" name="ediblePositive2%" class="form-control"/>
			</div>
			<label for="ediblePositive3" class="col-md-2 control-label">Positive effect 3:</label>
			<div class="col-md-8">
				<input ng-model="edible.positive3" name="ediblePositive3" class="form-control"></input>
			</div>
			<label for="ediblePositive3%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.positive3Percent" type="text" name="ediblePositive3%" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<label for="edibleNegative1" class="col-md-2 control-label">Negative effect 1:</label>
			<div class="col-md-8">
				<input ng-model="edible.negative1" name="edibleNegative1" class="form-control"></input>
			</div>
			<label for="edibleNegative1%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.negative1Percent" type="text" name="edibleNegative1%" class="form-control"/>
			</div>
			<label for="edibleNegative2" class="col-md-2 control-label">Negative effect 2:</label>
			<div class="col-md-8">
				<input ng-model="edible.negative2" name="edibleNegative2" class="form-control"></input>
			</div>
			<label for="edibleNegative2%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.negative2Percent" type="text" name="edibleNegative2%" class="form-control"/>
			</div>
			<label for="edibleNegative3" class="col-md-2 control-label">Negative effect 3:</label>
			<div class="col-md-8">
				<input ng-model="edible.negative3" name="edibleNegative3" class="form-control"></input>
			</div>
			<label for="edibleNegative3%" class="col-md-1 control-label">%</label>
			<div class="col-md-1">
				<input ng-model="edible.negative3Percent" type="text" name="edibleNegative3%" class="form-control"/>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Images</legend>
		<div class="form-group">
			<label for="producerLogo" class="col-md-2 control-label">Logo:</label>
			<div class="col-md-10">
				<input ng-model="edible.logo" name="producerLogo" type="text" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="edibleCardImage" class="col-md-2 control-label">Card Image:</label>
			<div class="col-md-10">
				<input ng-model="edible.cardimage" name="edibleCardImage" type="text" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="edibleImage" class="col-md-2 control-label">Full Image:</label>
			<div class="col-md-10">
				<input ng-model="edible.image" name="edibleImage" type="text" class="form-control" required/>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Additional Options</legend>
		<div class="form-group">
			<label for="edibleFeatured" class="col-md-6 control-label">Enter 'true' if featured or enter '0' if not featured:</label>
			<div class="col-md-6">
				<input ng-model="edible.featured" name="edibleFeatured" type="text" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label for="edibleDisabled" class="col-md-6 control-label" style="color:red;">Enter 'disabled' if disabled or enter '0' if not disabled:</label>
			<div class="col-md-6">
				<input ng-model="edible.disabled" name="edibleDisabled" type="text" class="form-control" required/>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Set Your Rating</legend>
		<div class="form-group">
			<label for="rate" class="col-md-1 control-label">Rate:</label>
			<label for="rate" class="col-md-1 control-label">1:</label>
			<div class="col-md-1">
				<input ng-model="edible.ratings[currentName]" name="rate" type="radio" value="1" class="form-control"/>
			</div>
			<label for="rate" class="col-md-1 control-label">2:</label>
			<div class="col-md-1">
				<input ng-model="edible.ratings[currentName]" name="rate" type="radio" value="2" class="form-control"/>
			</div>
			<label for="rate" class="col-md-1 control-label">3:</label>
			<div class="col-md-1">
				<input ng-model="edible.ratings[currentName]" name="rate" type="radio" value="3" class="form-control"/>
			</div>
			<label for="rate" class="col-md-1 control-label">4:</label>
			<div class="col-md-1">
				<input ng-model="edible.ratings[currentName]" name="rate" type="radio" value="4" class="form-control"/>
			</div>
			<label for="rate" class="col-md-1 control-label">5:</label>
			<div class="col-md-1">
				<input ng-model="edible.ratings[currentName]" name="rate" type="radio" value="5" class="form-control"/>
			</div>
		</div>
	</fieldset>
	<button ng-click="saveEdible(edibleId, edible)" class="btn btn-block edibleCMS">Ahh, push it!</button>
</form>



