//- img.img-responsive(style='margin: auto auto;', src='img/logo.png')
h1.pageTitle Manage Strains
form.form-horizontal
    //- @todo Implement ability to add a new producer.
        .form-group
            label.col-md-2.control-label(for='strainProducer') Produced by:
            .col-md-8
                select.form-control(ng-model='strain.producer', name='strainProducer', ng-options='id as producer.name for (id, producer) in producers')
            .col-md-2
                button.btn.btn-block(ng-click='newProducer()') New Producer
form.form-horizontal
    .form-group
        label.col-md-2.control-label(for='strainId') Select strain:
        .col-md-8
            select.form-control(ng-model='strainId', name='strainId', ng-options='id as strain.name for (id, strain) in strains', ng-change='loadStrain(strainId)')
        .col-md-2
            button.btn.btn-block(ng-click='newStrain()') New Strain
    //- @todo Add new strain.
    .form-group(ng-hide='strain.$id')
        label.col-md-2.control-label(for='strainId') Strain ID:
        .col-md-10
            input.form-control(ng-model='strainId', type='text', name='strainId')
    fieldset
        legend Description
        .form-group
            label.col-md-2.control-label(for='strainName') Name:
            .col-md-10
                input.form-control(ng-model='strain.name', type='text', name='strainName')
        .form-group
            label.col-md-2.control-label(for='strainProducer') Producer:
            .col-md-10
                input.form-control(ng-model='strain.producer', type='text', name='strainProducer')
        .form-group
            label.col-md-2.control-label(for='strainDescription') Description:
            .col-md-10
                textarea.form-control(ng-model='strain.description', name='strainDescription')
        //- @todo Implement percentages for flavors and effects.
        .form-group
            label.col-md-2.control-label(for='strainFlavor') Flavor profile:
            .col-md-10
                select.form-control(multiple, ng-model='strain.flavor', name='strainFlavor', ng-options='flavor for flavor in flavors')
            //-
                .col-md-1
                    | %
        .form-group
            label.col-md-2.control-label(for='strainPositive') Positive effects:
            .col-md-4
                select.form-control(multiple, ng-model='strain.effects.positive', name='strainPositive', ng-options='positiveEffect for positiveEffect in positiveEffects')
            //-
                .col-md-1
                    | %
            label.col-md-2.control-label(for='strainNegative') Negative effects:
            .col-md-4
                select.form-control(multiple, ng-model='strain.effects.negative', name='strainNegative', ng-options='negativeEffect for negativeEffect in negativeEffects')
            //-
                .col-md-1
                    | %
    fieldset
        legend Chemistry
        .form-group
            label.col-md-2.control-label(for='strainIndica') indica:
            .col-md-4
                input.form-control(ng-model='strain.chemistry.percentageIndica', type='text', name='strainIndica')
            label.col-md-2.control-label(for='strainSativa') sativa:
            .col-md-4
                input.form-control(ng-model='strain.chemistry.percentageSativa', type='text', name='strainSativa')
    //- @todo Implement image upload.
        fieldset
            legend Images
            .form-group
                label.col-md-2.control-label(for='strainLogo') Logo
                .col-md-10
                    input.form-control(ng-model='strain.images.logo', type='file')
            .form-group
                label.col-md-2.control-label(for='strainImage') Image
                .col-md-10
                    input.form-control(ng-model='strain.images.image', type='file')
    button.btn.btn-block(ng-click='saveStrain(strainId, strain)') Save