<h2 class="pageTitle hidePageTitle" title="user">User Profile</h2>
<div class="pageId" title="{{ user.$id }}"></div>
<div class="row ">
  <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 coverImageWrap">
    <img src="img/cover_photo.png" class="coverImage"/>
    <div class="coverOverlay"></div>
  </div> -->
  <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 userInfoLeft">
	<label class="updateUserAvatar" style="background-image:url('https://scontent-sea1-1.xx.fbcdn.net/hprofile-xpt1/v/t1.0-1/p160x160/12313962_10153727734099655_1381325244763780252_n.jpg?oh=e52b7b0b7d9cfad7639e2adac5a19737&oe=57038F91');" for="uploadLogo">
        <span><i class="material-icons">photo_camera</i></span>
        <input type="file" id="uploadLogo" class="uploadLogo"/>
    </label><br>
	<input type="text" class="updateUsername" value="Dakota"/>
	<ul class="rhastaBars rhastaBarsTop">
		<li class="rhastaGreen col-lg-4 col-md-4 col-sm-4 col-xs-4"></li>
		<li class="rhastaYellow col-lg-4 col-md-4 col-sm-4 col-xs-4"></li>
		<li class="rhastaRed col-lg-4 col-md-4 col-sm-4 col-xs-4"></li>
	</ul>
	<textarea class="updateUserBio" maxlength="200">Welcome! I am the Founder &amp; CEO of Stash. I’m an Entrepreneur, Graphic Designer and an EWU Senior, but above all else, I am a proud cannaisseur! I love all things cannabis.</textarea>
	<i ui-sref="root.userProfile({ userId: user.$id })" class="material-icons userActionButton">check</i>
	<ul class="rhastaBars rhastaBarsBottom">
		<li class="rhastaGreen col-lg-4 col-md-4 col-sm-4 col-xs-4"></li>
		<li class="rhastaYellow col-lg-4 col-md-4 col-sm-4 col-xs-4"></li>
		<li class="rhastaRed col-lg-4 col-md-4 col-sm-4 col-xs-4"></li>
	</ul>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 userOverview pull-right">
  	<h3>OVERVIEW</h3>
  	<ul>
  		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="img/icons/adminAccountIcon.png"/>ACCOUNT TYPE <br><span>ADMIN</span></li>
  		<li ui-sref="root.userBuddies({ userId: user.$id })" class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="img/icons/buddiesIcon.png" class="overviewBtn"/>BUDDIES <br><span>23</span></li>
  		<li ui-sref="root.userReviews({ userId: user.$id })" class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="img/icons/writeReviewIcon.png" class="overviewBtn"/>REVIEWS <br><span>48</span></li>
   		<li class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><img src="img/icons/stashCheckIcon.png" class="overviewBtn"/>STASH <br><span>34</span></li>
  	</ul>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="userStash">
  	<tabset class="products">
		<tab heading="Strains (8)">
			<img id="staticExample" src="img/UserStash_PageCards.jpg"/>
		</tab>
		<tab heading="Concentrates (2)">
			<ul class="dvCardList">
				<div><li ng-repeat="concentrate in concentrates" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ concentrate.disabled }}">
					<dv-card item-type="concentrate" item-id="{{ concentrate.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
		<tab heading="Edibles (0)">
			<ul class="dvCardList">
				<div><li ng-repeat="edible in edibles" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ edible.disabled }}">
					<dv-card item-type="edible" item-id="{{ edible.$id }}"></dv-card>
				</li></div>
			</ul>
		</tab>
	</tabset>
  </div>
</div>
