#footer {
  margin-top: 40px;
  padding: 20px;
  background-color: $dvGray;
  color: rgba(255, 255, 255, .3);
  text-align: center;
  h4 {
    font-family: $dvTextFont;
    font-weight: lighter;
    text-transform: uppercase;
    color: $dvGreen;
  }

  a {
    font-family: $dvTextFont;
    font-size: 14px;
    color: white;
    &:hover {
      color: $dvGreen;
    }
  }
  input[type='email'] {
    font-family: $dvTextFont;
    font-size: 12px;
    background-color: $dvWhite20;
    color: white;
    border-radius: 0;
    border: 2px solid transparent;
    height: 40px;
    padding: 10px;
    margin: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    &:hover,
    &:active,
    &:focus {
      border: 2px solid $dvGreen;
    }
  }
  input[type='email'] {
    width: 300px;
    &:hover,
    &:active,
    &:focus {
      border-right: none;
    }
    &:visited,
    &:focus {
      background-color: $dvWhite20;
    }
  }
  .btnfooter {
    border-radius: 0;
    background-color: transparent;
    border: 2px solid $dvGreen;
    color: $dvGreen;
    font-family: $dvTextFont;
    text-transform: uppercase;
    font-size: 16px;
    height: 40px;
    margin-top: 0;
    padding: .5% 5%;
    box-shadow: none;
    &:hover {
      color: $dvGray;
      background: $dvGreen;
    }
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }
  .btnfooterlrg {
    padding: 1.5% 5%;
    margin: 0 auto;
  }
  .footerFeedback {
    text-align: center;
  }
  address {
    font-size: 10px;
    padding-top: 5%;
    width: 100%;
    text-align: center;
  }

  .footerlogo {
    padding-top: 20%;
  }
  /*  Start Social Icons  */
  #socialIcons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      display: inline;
    }
    img {
      width: 40px;
      margin: 20px 0 0 5px;
      background: white;
      border-radius: 5px;
      border: 2px solid white;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      &:hover {
        background: $dvGreen;
        border-color: $dvGreen;
      }
    }
  }
  /*  End Social Icons  */
}


