@font-face { 
  font-family: "bebas neue"; 
  src: url(http://deviine.com/deviine/beta/fonts/bebas_neue/BebasNeue.ttf); 
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
background: rgb(44,48,52);
}
div {
  position: relative;
  width: 75%;
  margin: 150px auto;
  text-align: center;
  border: 1px solid rgba(255,255,255,.15);
  border-radius: 5px;
}
.logo {
  width: 200px;
  padding: 0px 40px;
  background: rgb(44,48,52);
  margin: -110px auto 0 auto;
  position: relative;
}
h1 {
  font-family: bebas neue;
  font-weight: normal;
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  margin: 20px 0 10px 0;
}
h2 {
  font-family: 'Open Sans', sans-serif;
  color: rgb(247,37,62);
  font-weight: lighter;
  margin-top: 0;
  letter-spacing: 1.5px;
  font-size: 16px;
  text-transform: uppercase;
}
.name,
.nickname,
.email,
.phone,
.location,
.howusage,
.whereusage {
  padding: 13px 0px 5px 0px;
  margin: 5px 15px 30px 15px;
  width: 300px;
  color: rgba(44,48,52,.4);
  text-align: center;
  font-family: bebas neue;
  font-size: 30px;
  font-weight: bold;
  &:focus {
    color: rgb(44,48,52);
  }
.month,
.day,
.year,
.betacode {
  padding: 13px 20px 5px 20px;
  margin: 5px 5px 30px 5px;
  width: 50px;
  color: rgba(44,48,52,.4);
  text-align: center;
  font-family: bebas neue;
  font-size: 30px;
  font-weight: bold;
}
  &:focus {
    color: rgb(44,48,52);
  }
.howusage,
.whereusage {
  height: 50px;
}
.enter {
  margin: 20px auto 40px auto;
  background: rgb(247,37,62);
  color: white;
  font-family: bebas neue;
  font-weight: normal;
  font-size: 40px;
  padding: 20px 30px 10px 30px;
  border: none;
  border-radius: 5px;
}
 .enter &:hover {
    background: rgb(61,216,97);
    cursor: pointer;
  }
footer {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-bottom: 30px;
}