<h2 class="pageTitle">Dispensaries</h2>
<ul class="dvCardList" id="dispensariesList">
	<li ng-repeat="featuredDispensary in featuredDispensaries" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ dispensary.disabled }}">
		<dv-card item-type="dispensary" item-id="{{ featuredDispensary.$id }}"></dv-card>
	</li>
	<li ng-repeat="dispensary in dispensaries" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ dispensary.disabled }}">
		<dv-card item-type="dispensary" item-id="{{ dispensary.$id }}"></dv-card>
	</li>
</ul>