<h2 class="pageTitle">Dispensaries</h2>
<ul class="dvCardList" id="dispensariesList">
	<h6>Welcome to the brand new dispensaries section! We have chosen _________ as our pilot store.<br>Test it out and drop us some <a class="typeform-share btnfooter btnfooterlrg" href="https://deviine.typeform.com/to/pnlr6D" data-mode="1" target="_blank">feedback</a>! What's so great about DeViine Certified Dispensaries? We update the menu for you!</h6>
	<li ng-repeat="featuredDispensary in featuredDispensaries" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ dispensary.disabled }}">
		<dv-card item-type="dispensary" item-id="{{ featuredDispensary.$id }}"></dv-card>
	</li>
	<li ng-repeat="dispensary in dispensaries" class="col-lg-2 col-md-3 col-sm-3 col-xs-8 {{ dispensary.disabled }}">
		<dv-card item-type="dispensary" item-id="{{ dispensary.$id }}"></dv-card>
	</li>
</ul>