<img src="img/stash_header.jpg" class="pageHeader"/>
<img src="img/stash_mobileHeader.jpg" class="pageMobileHeader"/>
<h2 class="pageTitle"></h2>
<div id="indexSummary" class="row">
	<a ui-sref="root.strains" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 howItWorks">
		<img src="img/icons/strainsIcon.png" class="img-responsive strainsIcon"/>
		<h3>Strains</h3>
		<p>Home to the one and only producer-specific recreational cannabis strain database. All cannabis strains provide different highs, flavor profiles, and effects. We work directly with licensed producers to help you find the perfect cannabis experience for you.</p>
		<div class="arrowRight green"></div>
	</a>
	<a ui-sref="root.concentrates" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 howItWorks">
		<img src="img/icons/concentratesIcon.png" class="img-responsive concentratesIcon"/>
		<h3>Concentrates</h3>
		<p>Find various forms of cannabis concentrates and extracts from your favorite strains. Forms of concentrates include oil, wax, shatter and kief. Remember, concentrates are much more potent than flowers, so be aware of your tolerance and start slow.</p>
		<div class="arrowRight yellow"></div>
	</a>
	<a ui-sref="root.edibles" class="col-xs-12 col-sm-4 col-md-4 col-lg-4 howItWorks">
		<img src="img/icons/ediblesIcon.png" class="img-responsive ediblesIcon"/>
		<h3>Edibles</h3>
		<p>Explore our infused product and edible database to find the tastiest treats around. Choose from cannabis-infused chocolates, snack bars and beverages along with many other options. Remember, edibles can take longer to kick in, start with low doses and be patient.</p>
		<div class="arrowRight red"></div>
	</a>
</div>

<div class="row indexSection">
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<!-- <h3>Featured Strains</h3> -->
		<ul class="dvCardList">
			<li ng-repeat="featuredStrain in featuredStrains" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 {{ strain.disabled }}">
				<dv-card item-type="strain" item-id="{{ featuredStrain.$id }}"></dv-card>
			</li>
		</ul>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<!-- <h3>Featured Concentrates</h3> -->
		<ul class="dvCardList">
			<li ng-repeat="featuredConcentrate in featuredConcentrates" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 {{ concentrate.disabled }}">
				<dv-card item-type="concentrate" item-id="{{ featuredConcentrate.$id }}"></dv-card>
			</li>
		</ul>
	</div>
	<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		<!-- <h3>Featured Edibles</h3> -->
		<ul class="dvCardList">
			<li ng-repeat="featuredEdible in featuredEdibles" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 {{ edible.disabled }}">
				<dv-card item-type="edible" item-id="{{ featuredEdible.$id }}"></dv-card>
			</li>
		</ul>
	</div>
	<div class="sponsors">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h3>Sponsors</h3>
			<ul class="col-md-12 col-sm-12 col-xs-12">
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
					<a target="_blank">
						<img src="img/sponsors/bublr_logo.jpg" title="Bublr" alt="Bublr"/>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
					<a href="https://www.facebook.com/CGSpokane" target="_blank">
						<img src="img/sponsors/cannabisandglass_logo.jpg" title="Cannabis and Glass" alt="Cannabis and Glass"/>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
					<a target="_blank">
						<img src="img/logos/louisw_logo.png" title="Louis W" alt="Louis W"/>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
					<a href="https://www.facebook.com/DoctorWaterpipes" target="_blank">
						<img src="img/sponsors/doctorwaterpipes_logo.jpg" title="Doctor Waterpipes" alt="Doctor Waterpipes"/>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
					<a href="http://www.farmerjs.com/" target="_blank">
						<img src="img/logos/farmerjs_logo.png" title="Farmer Js" alt="Farmer Js"/>
					</a>
				</li>
				<li class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
					<a href="http://www.billifersbuds.com/" target="_blank">
						<img src="img/logos/billifersbuds_logo.png" title="Billifers Buds" alt="Billifers Buds"/>
					</a>
				</li>
			</ul>
		</div>
	</div>

</div>



