
  <div ng-controller="signinCtrl" class="overlayWrapper">
    
    <header class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <img  ui-sref="root.home" class="logo" src="img/stash_logo.png"/> 
    </header>

    <section class="overview col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<h1>Sign in to your Stash</h1>
		<ul>
			<li class="stashBenefit">
				<img src="img/icons/stashIcon.png" class="icon"/>
        <div>
  				<h2>Access your Stash</h2>
  				<p>Convenient access to your favorite strains, concentrates and edibles.</p>
			  </div>
      </li>
			<li class="reviewBenefit">
				<img src="img/icons/reviewIcon.png" class="icon"/>
  			<div>
        	<h2>Review your Sessions</h2>
  				<p>Browse through your reviews for the cannabis products you've tried already.</p>
        </div>
			</li>
			<li class="buddiesBenefit">
				<img src="img/icons/buddiesIcon.png" class="icon"/>
				<div>
          <h2>Share with buddies</h2>
				  <p>Share reviews with your friends and make suggestions on products they should try.</p>
        </div>
			</li>
		</ul>
	</section>

	<section class="signupForm col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<form class="form-horizontal">
			<!-- <div class="form-group">
				<label>Username</label>
				<input ng-model="credentials.username"  type="text" name="username" placeholder="Username" class="usernameInput form-control col-lg-8 col-md-8 col-sm-8 col-xs-8"></input>
			</div> -->
			<div class="form-group">
				<label>Email</label>
				<input ng-model="credentials.email" type="text" name="email" placeholder="Email" class="emailInput form-control col-lg-8 col-md-8 col-sm-8 col-xs-8"/>
			</div>
			<div class="form-group">
				<label>Password</label>
				<input ng-model="credentials.password" type="password" name="password" placeholder="Password" class="passwordInput form-control col-lg-8 col-md-8 col-sm-8 col-xs-8"/>
			</div>
			<div class="form-group">
        <input ng-click="login('password', credentials)" type="submit" value="SIGN IN" class="button signupBtn col-lg-12 col-md-12 col-sm-12 col-xs-12" ></input>
			</div>              

			<div class="form-group">
				<div class="btn-group btn-group-justified">
					<label class="altLabel">Or Use An Existing One:</label>
          <ul>
            <li><img src="img/icons/social/facebookIcon.png" class="socialMediaBtn" ng-click="login('facebook', null)"></li>
            <li><img src="img/icons/social/twitterIcon.png" class="socialMediaBtn" ng-click="login('twitter', null)"></li>
            <li><img src="img/icons/social/googleIcon.png" class="socialMediaBtn" ng-click="login('google', null)"></li>
          </ul>
				</div>
			</div>
       <div class="form-group">
        <input type="submit" value="Don't Have An Account Yet?" ui-sref="root.signup" class="button signinBtn col-lg-12 col-md-12 col-sm-12 col-xs-12"></input>
      </div>
		</form>
	</section>


    <!-- Validity -->
    <script src="../lib/validity/jquery.validity.min.js"></script>
    <!-- Stash Scripts -->
    <script src="../js/signup_scripts.js"></script>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-69789666-1', 'auto');
      ga('send', 'pageview');
    </script>

  </div>