      <section id="hostdeal">
        <h1>Deal Information</h1>
        <label>Deal Title</label><input placeholder="Deal Title"></input>
        <label>Business Name</label><input placeholder="Business Name"></input>
        <label>Address</label><input placeholder="Address"></input>
        <label>Website</label><input placeholder="Website"></input>
        <label>Email</label><input placeholder="Email"></input>
        <label>Phone</label><input placeholder="Phone"></input>
        <h1>Image</h1>
        <div class="imagedrop">Drop Image Here<a class="browse">Browse</a></div>
        <div class="imageplaceholder"></div>
        <h1>Details</h1>
        <label>Expiration:</label>
        <select>
          <option>Month</option>
          <option>January</option>
          <option>February</option>
          <option>March</option>
          <option>April</option>
          <option>May</option>
          <option>June</option>
          <option>July</option>
          <option>August</option>
          <option>September</option>
          <option>October</option>
          <option>November</option>
          <option>December</option>
        </select>
        <select>
          <option>Day</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
          <option>17</option>
          <option>18</option>
          <option>19</option>
          <option>20</option>
          <option>21</option>
          <option>22</option>
          <option>23</option>
          <option>24</option>
          <option>25</option>
          <option>26</option>
          <option>27</option>
          <option>28</option>
          <option>29</option>
          <option>30</option>
          <option>31</option>
        </select>
        <select>
          <option>Year</option>
          <option>2014</option>
          <option>2015</option>
        </select>
        <label>Deal Description</label><input placeholder="Deal Description" class="largeinput"></input>
        <label>Business Description</label><input placeholder="Business Description" class="largeinput"></input>
        <label>Fine Print</label><input placeholder="Fine Print" class="largeinput"></input>
        <input type="submit" value="Submit" class="submit"></input>
      </section>
