<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeViine | Dispensaries</title>

    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/animate.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../fonts/dense/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/slick/slick.css"/>
    
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="top"></div>

      <header>
        <a href="../index.html"><img id="logo" src="../img/deviine_logo.png"></a>
        <div class="profilesection">
          <a href="../html/profile.html"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p200x200/10616356_10152747370864655_5085830399152202344_n.jpg?oh=845c9eb7de0029cc70c82ed8748d6ff6&oe=54BEB10A&__gda__=1422615519_2378c4e0ac277fb8387bfdb3419a7301"></a>
          <div class="navprofileinfo">
            <a href="../html/profile.html"><h1>Dakota Berg</h1></a>
            <a href="../html/location.html">Spokane, WA</a>
          </div>
        </div>
        <div class="search">
          <input type="search" placeholder="What are you looking for?"><a href="#"><img src="../img/searchicon.png"></a>
        </div>
        <div class="mobileheaderbuttons">
          <a href="#"><img src="../img/hamburger_button.png"></a>
          <a href="#"><img src="../img/search_button.png"></a>
        </div>
      </header>
      <ul class="nav">
        <li class="dispensaries activenav"><a href="../html/dispensaries.html" >Dispensaries</a></li>
        <li class="deals"><a href="../html/deals.html">Deals</a></li>
        <li class="strains"><a href="../html/strains.html">Strains</a></li>
        <li class="news"><a href="../html/news.html" >News</a></li>
      </ul> 




      <section class="container dispensaries">
        <h2 class="headerbar">Adult Use Dispensaries</h2>
        <div class="dispensariesbody">
            
          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>  

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a> 

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>

          <a href="../html/walkingraven.html" class="cardwrapper">
            <img src="http://placehold.it/183x183" class="cardlogo">
            <h1 class="dispensaryname">DISPENSARY NAME</h1>
            <h2 class="dispensaryaddress">Address Line 1<br>City, State Zipcode</h2>
            <div class="rating">
              <ul class="buds">
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconyes.png" class="budicon"></li>
                <li><img src="../img/budiconno.png" class="budicon"></li>
              </ul>
              <h3 class="ratingtext">Rated 4/5 by 103 users</h3>
            </div>
            <div class="distance">
              <h4 class="number">9</h4> 
              <h5 class="label">MILES<br>AWAY</h5>
            </div>
          </a>               

        </div>
      </section>

 






      <a href="#top" class="uptotop"><img src="../img/rocketicon.png"></a>








      <footer>
        <p>All Rights Reserved. 2014. DeViine.</p>
      </footer>








     
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script src="../js/scripts.js"></script>



  </body>
</html>
