<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeViine | Job Information</title>

    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../css/foundation.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" type="text/css" href="../css/slick.css"/>
    <link rel="stylesheet" href="../fonts/dense/stylesheet.css" />

    
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body>

     <div class="top"></div>


      <header>
        <a href="../index.html"><img id="logo" src="../img/deviinelogo.png"></a>
        <nav class="nav">
        <a href="../index.html"><img src="../img/homeicon.png">Home</a>
          <a href="dispensaries.html"><img src="../img/dispensariesicon.png">Dispensaries</a>
          <a href="deals.html"><img src="../img/dealsicon.png">Deals</a>
          <a href="strains.html"><img src="../img/strainsicon.png">Strains</a>
          <a href="findajob.html" id="currentpage"><img src="../img/jobsiconactive.png">Find A Job</a>
          <a href="news.html"><img src="../img/newsicon.png">News</a>
          <a class="typeform-share button" href="https://devine.typeform.com/to/rfIgIY" data-mode="2" target="_blank"><img src="../img/contacticon.png">Contact Us</a>
        </nav>        

        <div class="mobilemenu">
          <a href="#" data-dropdown="drop1" class="button dropdown"><img src="../img/hamburger.png"></a><br>
          <ul id="drop1" data-dropdown-content class="f-dropdown">
            <li><a href="../index.html">Home</a></li>
            <li><a href="dispensaries.html">Dispensaries</a></li>
            <li><a href="deals.html">Deals</a></li>
            <li><a href="strains.html">Strains</a></li>
            <li><a href="findajob.html" id="currentpage">Find A Job</a></li>
            <li><a href="news.html">News</a></li>
            <li><a class="typeform-share button" href="https://devine.typeform.com/to/rfIgIY" data-mode="2" target="_blank">Contact Us</a></li>
          </ul>
        </div>
      </header>
    


      <section id="pagetitle">
        <h1>Find A Job</h1>
      </section>


    <div class="wrapper" data-equalizer>
    <div id="jobinfo">
        <h2 class="jobinfobar">Job Information</h2>
        <div class="jobinfocontainer">
          
          <div class="jobinfo">
            <h1>Budtender / Receptionist</h1>
            <h6>Full-Time</h6>
            <img src="../img/walkingravenlogo.jpg" class="joblogo">
            <h2>Walking Raven</h2>
            
            <h3>2001 South Broadway <br>Denver, CO, 80210</h3>
            <a href="#" data-reveal-id="mapmodal" class="map">Map &#10095;&#10095;</a>
            <div id="mapmodal" class="reveal-modal medium" data-reveal>
               <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=walking+raven+2001+South+Broadway+Denver,+CO,+80210&amp;aq=&amp;sll=39.68009,-104.987849&amp;sspn=0.006292,0.010128&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=39.68009,-104.987849&amp;spn=0.006295,0.006295&amp;t=m&amp;output=embed"></iframe><br /><small>View <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=walking+raven+2001+South+Broadway+Denver,+CO,+80210&amp;aq=&amp;sll=39.68009,-104.987849&amp;sspn=0.006292,0.010128&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=39.68009,-104.987849&amp;spn=0.006295,0.006295&amp;t=m" style="text-align:left" target="_blank">Driving Directions</a> in a larger map</small>
              <a class="close-reveal-modal">&#215;</a>
            </div>
           
            <div class="jobcontactinfo">
              <h4><a href="http://mmjdenver.net" target="_blank"><img src="../img/webicon.png">mmjdenver.net</a></h4>
              <h4><a href="mailto:klmanagers@gmail.com"><img src="../img/emailicon.png">klmanagers@gmail.com</a></h4>
              <h4><img src="../img/phoneicon.png">303-565-3600</h4>
            </div>

            <div class="jobdescription">
              <h2>Job Description</h2>
              <p>
              Evergreen Patient Network is committed to providing patients with terminal or debilitating medical conditions safe and affordable access to medical cannabis. We are a network of qualifying patients sharing responsibility for acquiring and supplying the resources required to produce and process cannabis for medical use in strict compliance with Washington State medical cannabis law 69.51a RCW. 

              Evergreen Patient Network is looking for a Receptionist/Budtender Support Specialist to become the newest member of our team in Everett, Washington. This position performs a variety of administrative and sales activities to provide high quality support for customers and distributors. This position works within general supervision and established company guidelines.

              Principal Responsibilities:
              <br>▪ Provide Exceptional Customer Care by promoting and maintaining positive customer relations.
              <br>▪ Receptionist coverage while maintaining security of building.
              <br>▪ Respond to calls or emails from customers requesting product, training, and general information.
              <br>▪ Management of customer records through the use of an MMJ database
              <br>▪ Maintenance and update of databases as needed.
              <br>▪ Fulfillment of customer orders.
              <br>▪ Responsible for the sales and promotion of all Evergreen products. 
              <br>▪ Build and maintain a high level of integrity and trust for specific products and the Evergreen brand at the customer level.
              <br>▪ Other duties as assigned.
              Knowledge, Skills, and Abilities Required:
              <br>▪ Requires a 2 year degree or equivalent experience.
              <br>▪ Two years of direct customer service experience required.
              <br>▪ Experience receiving and making calls in an office or call center setting.
              <br>▪ Understanding of and experience with Windows Operating System, Microsoft Outlook, Excel, and Word.
              <br>▪ Prior experience in solving customer and work related problems.
              <br>▪ Ability and desire to give instructions and assist customers over the phone.
              <br>▪ Ability and desire to learn products, markets, and programs.
              <br>▪ Understanding of basic accounting principles.
              <br>▪ Attention to detail with ability to handle multiple job functions while meeting deadlines.
              <br>▪ Excellent verbal and written English skills with ability to type accurately and proficiently.
              <br>▪ Work independently or as a team member with reliable on-time and consistent attendance.
              <br>▪ Able to occasionally lift up to 50lbs.
              <br>▪ Ability to sit for an extended period; to use photocopiers, scanner, cell phone, headset and
              computers for extended lengths of time.</p>
              <h2>How To Apply</h2>
              <p>To apply for this position, please send your resume and cover letter via email</p>
            </div>
          </div>
        </div>
      </div>



    
      





      <a href="#top" class="uptotop"><img src="../img/rocketicon.png"></a>





      <footer>
        <p><img src="../img/deviinelogo.png"> All Rights Reserved. 2014.</p>
      </footer>




     
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="../js/imagelightbox.min.js"></script>
    <script src="../js/scripts.js"></script>



  </body>
</html>
