<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeViine | News</title>

    <link href="../favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="../css/foundation.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../fonts/dense/stylesheet.css" media="screen" />
    
    <script src="../js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="top"></div>
      
      <header>
        <a href="../index.html"><img id="logo" src="../img/deviine_logo.png"></a>
        <div class="profilesection">
          <a href="../html/profile.html"><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p200x200/10616356_10152747370864655_5085830399152202344_n.jpg?oh=845c9eb7de0029cc70c82ed8748d6ff6&oe=54BEB10A&__gda__=1422615519_2378c4e0ac277fb8387bfdb3419a7301"></a>
          <div class="navprofileinfo">
            <a href="../html/profile.html"><h1>Dakota Berg</h1></a>
            <a href="../html/location.html">Spokane, WA</a>
          </div>
        </div>
        <div class="search">
          <input type="search" placeholder="What are you looking for?"><a href="#"><img src="../img/searchicon.png"></a>
        </div>
        <div class="mobileheaderbuttons">
          <a href="#"><img src="../img/hamburger_button.png"></a>
          <a href="#"><img src="../img/search_button.png"></a>
        </div>
      </header>
      <ul class="nav">
        <li class="dispensaries"><a href="../html/dispensaries.html" >Dispensaries</a></li>
        <li class="deals"><a href="../html/deals.html">Deals</a></li>
        <li class="strains"><a href="../html/strains.html">Strains</a></li>
        <li class="news activenav"><a href="../html/news.html" >News</a></li>
      </ul> 



    <section id="newswrapper">

      
      <h2 class="headerbar">News</h2>

      <div id="generalnews">

        <a href="newsarticle.html"><div class="article"><img src="../img/general1.jpg">
        <span class="description">Description Lorem la pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 1</span>
        </div><div class="caption">Article Title Goes Here</div></a>    

        <a href="newsarticle.html"><div class="article"><img src="../img/general2.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing rcitation ullamco laboris nisi ut aliquip ex ea dolor in voluptate velit ess occa. 2</span>
        </div><div class="caption">Article Title Goes Here</div></a>    

        <a href="newsarticle.html"><div class="article"><img src="../img/general3.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing rcitation ullamco laboris nisi ut aliquip ex ea commoit anim id est laborum. 3</span>
        </div><div class="caption">Article Title Goes Here</div></a>   

        <a href="newsarticle.html"><div class="article"><img src="../img/general4.jpg">
        <span class="description">Description Lorem ipsum drure dolor in reprehenderit . 4</span>
        </div><div class="caption">Article Title Goes Here</div></a>   

        <a href="newsarticle.html"><div class="article"><img src="../img/general5.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing irure dolor in reprehenderit in voluptate velit eit anim id est laborum. 5</span>
        </div><div class="caption">Article Title Goes Here</div></a>

      </div>

      <div id="statenews">

        <a href="newsarticle.html"><div class="article"><img src="../img/state1.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exercitation ullamco
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 1</span>
        </div><div class="caption">Article Title Goes Here</div></a>

        <a href="newsarticle.html"><div class="article"><img src="../img/state2.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exercitation ullamco
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 2</span>
        </div><div class="caption">Article Title Goes Here</div></a>

        <a href="newsarticle.html"><div class="article"><img src="../img/state3.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exercitation ullamco
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 3</span>
        </div><div class="caption">Article Title Goes Here</div></a>

        <a href="newsarticle.html"><div class="article"><img src="../img/state4.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exercitation ullamco
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 4</span>
        </div><div class="caption">Article Title Goes Here</div></a>

        <a href="newsarticle.html"><div class="article"><img src="../img/state5.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu tempor incididunt ut labore et dolore magn serunt mollit anim id est laborum. 5</span>
        </div><div class="caption">Article Title Goes Here</div></a>

      </div>
  

      <div id="federalnews">

        <a href="newsarticle.html"><div class="article"><img src="../img/floridanews.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exercitation ullamco
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 1</span>
        </div><div class="caption">Article Title Goes Here</div></a>

        <a href="newsarticle.html"><div class="article"><img src="../img/newlook.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt utullam it anim id est laborum. 2</span>
        </div><div class="caption">Article Title Goes Here</div></a> 

        <a href="newsarticle.html"><div class="article"><img src="../img/newjersey.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodquis nostrud exercitation ullamco
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 3</span>
        </div><div class="caption">Article Title Goes Here</div></a>

        <a href="newsarticle.html"><div class="article"><img src="../img/teendeportation.jpg">
        <span class="description">Description Lorem ipsum dolor sit amet, consectetur adipisicing exercitation ullamco laboris nisi ut aliquip ex ea commodo mollit anim id est laborum. 4</span>
        </div><div class="caption">Article Title Goes Here</div></a>

      </div>
    </section>





          



      <a href="#top" class="uptotop"><img src="../img/rocketicon.png"></a>

    






      <footer>
        <p>All Rights Reserved. 2014. DeViine.</p>
      </footer>














     
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"></script>
    <script src="../js/scripts.js"></script>



  </body>
</html>
