nav.navbar.navbar-inverse.navbar-static-top
    .container-fluid
        .navbar-header
            a.navbar-brand(ui-sref='root.home'): img(src='img/logo.png')
        .navbar-right(ng-click='showLoginModal()')
            .navbar-text(ng-show='currentUser')
                img.img-responsive.pull-right.avatar(ng-src="{{ currentAvatar }}")
                .pull-right
                    | {{ currentName }}#[br]
                    | {{ currentCity }}
                //- @todo Replace with 'currentUser[currentUser.provider].email' or 'currentUser[currentUser.provider].picture', and add 'ng-hide="!( currentUser.email )"'.
            .navbar-text(ng-show='!( currentUser )')
                button.btn.navbar-btn(type='button') Log In
.container-fluid
    .row
        .col-md-2
            ul#mainMenu
                li: a(ui-sref='root.dispensaries') Dispensaries
                li: a(ui-sref='root.deals') Deals
                li: a(ui-sref='root.strains') Strains
                li: a(ui-sref='root.manageDispensaries', ng-show='isAdmin(currentUser)') Manage Dispensaries
                li: a(ui-sref='root.manageStrains', ng-show='isAdmin(currentUser)') Manage Strains
                li: a(ui-sref='root.manageDeals', ng-show='isAdmin(currentUser)') Manage Deals
        .col-md-9
            ui-view
        .col-md-1
            ul#socialIcons
                li: a.fa-stack.fa-lg(href='https://www.facebook.com/DeViineLife')
                    i.fa.fa-square.fa-stack-2x
                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
                li: a.fa-stack.fa-lg(href='https://twitter.com/DeViineLife')
                    i.fa.fa-square.fa-stack-2x
                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                li: a.fa-stack.fa-lg(href='http://instagram.com/DeViineLife')
                    i.fa.fa-square.fa-stack-2x
                    i.fa.fa-instagram.fa-stack-1x.fa-inverse
                li: a.fa-stack.fa-lg(href='https://www.linkedin.com/company/3533428')
                    i.fa.fa-square.fa-stack-2x
                    i.fa.fa-linkedin.fa-stack-1x.fa-inverse
#footer.container-fluid
    .row
        .col-md-6
            h4 Quicklinks
            ul.list-inline
                li: a(ui-sref='root.dispensaries') Dispensaries
                li: a(ui-sref='root.deals') Deals
                li: a(ui-sref='root.strains') Strains
                li About Us
                li FAQ
                li: a(ui-sref='root.terms') Terms of Use
                li: a(ui-sref='root.privacy') Privacy Policy
                li Careers
            h4 Sign Up for Our Newsletter
            p Enter your email address to receive website updates, exclusive deals, and strain information directly to your inbox.
            form.form-inline
                .form-group
                    input.form-control(type='email')
                button.btn(type='submit') Sign Up
            .row
                .col-md-2
                    img.img-responsive(src='img/logo.png')
                .col-md-10
                    | &copy; 2015 DeViine LLC
                    address
                        | 28 W. 3rd Ave., Ste. B-1#[br]
                        | Spokane, WA 99201
        .col-md-6
            h4 How can we improve your experience?
            p This may sound crazy, but we actually listen to your feedback.  Let us know how we can make DeViine better for you.
            form
                .form-group
                    textarea.form-control(name='feedback', placeholder='We would love to hear your suggestions, ideas, and feedback.')
                button.btn(type='submit') Send Feedback