section
    h1 Thanks for joining!
    h2 You are signed up to receive occasional email updates.
    h3.
        Send us an email at #[a(href='mailto:support@deviine.com') support@deviine.com] if you need further assistance.#[br]
        Also, don't forget to check out our social media pages below!
    ul.socialIcons
        li: a(href='https://www.facebook.com/DeViineLife'): img(src='http://deviine.com/deviine/beta/img/facebook_socialicon.png', alt='Facebook')
        li: a(href='https://twitter.com/DeViineLife'): img(src='http://deviine.com/deviine/beta/img/twitter_socialicon.png', alt='Twitter')
        li: a(href='https://instagram.com/DeViineLife'): img(src='http://deviine.com/deviine/beta/img/instagram_socialicon.png', alt='Instagram')
        li: a(href='https://vine.co/u/1174942024756039680'): img(src='http://deviine.com/deviine/beta/img/vine_socialicon.png', alt='Vine')
        li: a(href='https://www.linkedin.com/company/deviine'): img(src='http://deviine.com/deviine/beta/img/linkedin_socialicon.png', alt='LinkedIn')