.modal-header
    h1.modalTitle Log Out
.modal-body
    p Are you sure that you'd like to log out?
.modal-footer
    .btn-group.btn-group-justified
        .btn-group: button.btn(type='button', ng-click='logout()') Log Out
        .btn-group: button.btn(type='button', ng-click='close()') Cancel