.modal-header
    h1.modalTitle Woah there!
    h2.modalSubtitle You've already submitted a rating for this {{ getItemType(item) }}.
.modal-body
    h3 Are you sure you want to update your rating?
.modal-footer
    .btn-group.btn-group-justified
        .btn-group: button.btn(type='button') No
        .btn-group: button.btn(type='button') Yes